FLASK_APP=conp.py
FLASK_ENV=development
SECRET_KEY=
DATA_PATH =
DATABASE_URL=
OAUTH_ORCID_ID=
OAUTH_ORCID_SECRET=
ORCID_AUTH_URL=https://orcid.org/oauth/authorize
ORCID_BASE_URL=https://orcid.org
ORCID_TOKEN_URL=https://orcid.org/oauth/token