appdirs==1.4.0
argcomplete==1.0.0
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.4.1
boto==2.44.0
chardet==3.0.4
command-not-found==0.3
datalad==0.11.6
ExifRead==2.1.2
fail2ban==0.9.7
fasteners==0.12.0
funcsigs==0.4
gitdb2==2.0.0
GitPython==2.1.8
html5lib==0.999
httpretty==0.8.14
humanize==0.5.1
importlib-metadata==0.19
iso8601==0.1.11
jsmin==2.2.1
jsonschema==3.0.2
keyring==7.3
language-selector==0.1
lxml==3.5.0
mock==1.3.0
monotonic==1.0
more-itertools==7.2.0
msgpack-python==0.4.6
mutagen==1.38
nose==1.3.7
packaging==19.1
pathlib2==2.3.4
patool==1.12
pbr==1.8.0
Pillow==3.1.2
pluggy==0.12.0
progressbar==2.3
py==1.8.0
pycrypto==2.6.1
pycurl==7.43.0
PyGithub==1.26.0
pygobject==3.20.0
pyinotify==0.9.6
pyparsing==2.4.2
pyperclip==1.6.0
pyrsistent==0.15.4
pytest==5.0.1
python-apt==1.1.0b1+ubuntu0.16.4.5
python-debian==0.1.27
python-systemd==231
python-xmp-toolkit==2.0.1
pytz==2014.10
PyYAML==3.11
requests==2.9.1
SecretStorage==2.1.3
simplejson==3.8.1
six==1.10.0
smmap2==2.0.1
ssh-import-id==5.5
tqdm==4.11.2
unattended-upgrades==0.1
urllib3==1.13.1
vcrpy==1.7.3
virtualenv==15.0.1
wcwidth==0.1.7
Whoosh==2.7.4
wrapt==1.9.0
zipp==0.5.2
