alabaster==0.7.12
alembic==1.0.8
annexremote==1.5.0
appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.5.4
Babel==2.9.1
bcrypt==3.1.7
blinker==1.4
boto==2.49.0
boutiques==0.5.25
certifi==2023.7.22
cffi==1.12.3
chardet==3.0.4
Click==7.0
commonmark==0.8.1
coverage==4.5.4
cryptography==41.0.4
datalad==0.13.6
Deprecated==1.2.7
docopt==0.6.2
docutils==0.14
dominate==2.4.0
entrypoints==0.3
fasteners==0.15
flake8==3.8.4
Flask==1.1.4
Flask-Admin==1.5.3
Flask-Bootstrap4==4.0.2
Flask-Dance==3.0.0
Flask-DotEnv==0.1.1
Flask-Ext==0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
Flask-SSO==0.4.0
Flask-User==1.0.1.5
Flask-WTF==0.14.2
flaskhmac==1.2.1
future==0.18.3
gitdb2==2.0.6
GitPython==3.1.35
gunicorn==19.9.0
humanize==0.5.1
idna==2.8
imagesize==1.1.0
importlib-metadata==3.7.0
iso8601==0.1.12
itsdangerous==1.1.0
jeepney==0.4.1
Jinja2==2.11.3
jsmin==2.2.2
jsonschema==3.0.2
keyring==19.2.0
keyrings.alt==3.1.1
Mako==1.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.2
nexus-sdk==0.3.2
oauthlib==3.1.0
packaging==19.0
passlib==1.7.1
pathlib2==2.3.5
patool==1.12
pep8==1.7.1
pluggy==0.12.0
psycopg2==2.8.6
puremagic==1.6
py==1.10.0
pycodestyle==2.6.0
pycparser==2.19
pyflakes==2.2.0
PyGithub==1.44.1
Pygments==2.7.4
PyJWT==2.4.0
PyMySQL==0.9.3
pyparsing==2.3.1
pyrsistent==0.15.4
pytest==5.1.2
pytest-cov==2.7.1
pytest-flask==0.15.0
pytest-flask-sqlalchemy==1.0.2
pytest-mock==1.10.4
python-dateutil==2.8.0
python-dotenv==0.9.1
python-editor==1.0.4
pytz==2018.9
PyYAML==5.4
rauth==0.7.3
recommonmark==0.5.0
requests==2.31.0
requests-oauthlib==1.2.0
SecretStorage==3.1.1
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.2
SQLAlchemy-Utils==0.34.2
sseclient==0.0.24
tabulate==0.8.3
termcolor==1.1.0
toml==0.10.1
tqdm==4.38.0
urllib3==1.26.5
URLObject==2.4.3
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.16.1
Whoosh==2.7.4
wrapt==1.11.2
WTForms==2.2.1
zipp==3.15.0
