alabaster==0.7.12
alembic==1.0.8
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.6.0
bcrypt==3.1.7
blinker==1.4
boutiques==0.5.22.post2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
commonmark==0.8.1
coverage==4.5.4
cryptography==2.7
docopt==0.6.2
docutils==0.14
dominate==2.4.0
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Bootstrap4==4.0.2
git+https://github.com/CONP-PCNO/flask-dance.git
Flask-Ext==0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
Flask-SSO==0.4.0
Flask-User==1.0.1.5
Flask-WTF==0.14.2
future==0.17.1
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.1.1
Mako==1.0.8
MarkupSafe==1.0
mock==3.0.5
more-itertools==7.2.0
oauthlib==3.1.0
packaging==19.2
passlib==1.7.1
pluggy==0.13.0
psycopg2==2.7.7
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.3.1
PyMySQL==0.9.3
pyparsing==2.4.3
pyrsistent==0.15.5
pytest==5.2.2
pytest-cov==2.7.1
pytest-flask==0.15.0
pytest-flask-sqlalchemy==1.0.2
pytest-mock==1.10.4
python-dateutil==2.8.0
python-dotenv==0.9.1
python-editor==1.0.4
pytz==2018.9
PyYAML==5.1.2
rauth==0.7.3
recommonmark==0.5.0
requests==2.22.0
requests-oauthlib==1.2.0
simplejson==3.16.0
six==1.13.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.2
SQLAlchemy-Utils==0.34.2
tabulate==0.8.5
termcolor==1.1.0
urllib3==1.25.6
URLObject==2.4.3
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.15.5
WTForms==2.2.1
zipp==0.6.0
