<div
  class="col-xs-6 col-sm-2 col-md-1 sidebar-offcanvas"
  id="sidebar"
  role="navigation"
>
  <div class="sidebar-nav">
    <ul class="nav">

      <!-- Dashboard -->
      <li class="active text-center">
        <a href="/public" class="sidebar-link"
          ><span
            ><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i><br />
            Dashboard
          </span>
        </a>
      </li>

      <!-- Search -->
      <li class="text-center">
        <a href="/search" class="sidebar-link"
          ><span
            ><i class="fa fa-search fa-3x" aria-hidden="true"></i><br />
            Search
          </span>
        </a>
      </li>

      <!-- Tools & Pipelines -->
      <li class="text-center">
        <a href="#pythsidebar-link"
          ><span
            ><i class="fa fa-wrench fa-3x" aria-hidden="true"></i><br />
            Tools & Pipelines
          </span>
        </a>
      </li>

      <!-- Share  -->
      <li class="text-center">
        <a href="#" class="sidebar-link"
          ><span
            ><i class="fa fa-upload fa-3x" aria-hidden="true"></i><br />
            Share
          </span>
        </a>
      </li>

      <!-- Forums -->
      <li class="text-center">
        <a href="#" class="sidebar-link"
          ><span
            ><i class="fa fa-comments fa-3x" aria-hidden="true"></i><br />
            Forums
          </span>
        </a>
      </li>

      <!-- NeuroLibre -->
      <li class="text-center">
        <a href="#" class="sidebar-link"
          ><span class="image-swap">
       NeuroLibre
            </span>
        </a>
      </li>

      <!-- My Profile -->
      <li class="text-center">
        <a href="#" class="sidebar-link"
          ><span
            ><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i><br />
            My Profile
          </span>
        </a>
      </li>

      <hr class="sidebar-nav-hr">

      <!-- Users -->
      <li class="text-center">
            <a href="#" class="slim-sidebar-link"
            ><span
              > Users
            </span>
            </a>
        </li>

        <!-- Datasets -->
        <li class="text-center">
            <a href="#" class="slim-sidebar-link"
            ><span
              > Datasets
            </span>
            </a>
        </li>

        <!-- Pipelines & Tools -->
        <li class="text-center">
            <a href="#" class="slim-sidebar-link"
            ><span
            > Pipelines &amp; Tools
            </span>
            </a>
        </li>
    </ul>
  </div>
  <!--/.well -->
</div>
<!--/span-->
