<footer
  id="footer"
  class="container-fluid justify-content-center bg-mineshaft text-white"
>
  <div class="row justify-content-center px-4">
    <div
      class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h5 class="py-2">
        Canadian Open Neuroscience Platform 
      </h5>

      <a class="footer-link" href="https://github.com/CONP-PCNO/conp-portal"
        >Code is available on
        <span>Github <i class="fa fa-github"></i></span>
      </a>
    </div>
    <div class="col-sm-6 text-center py-4 px-4">
      <h5 class="py-3">Contact Us</h5>
      <div class="py-1 pb-2">
        For general inquiries, please contact:
        <br />
        <div class="py-2">
          <a class="footer-link" href="mailto:info@conp.ca"
            ><span>info@conp.ca</span></a
          >
        </div>
      </div>
      <div class="py-1 pt-2">
        Institutions that would like to be part of the CONP collaboration, can
        contact us at:
        <br />
        <div class="py-2">
          <a class="footer-link" href="mailto:info@conp.ca"
            ><span>institutions@conp.ca</span></a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
