<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white navigation-bar">
  <a class="navbar-brand" href="https://conp.ca/">
    <img style="max-width:100px;" src="/static/img/conp.png" alt="conp logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="d-lg-none d-xl-none nav-item px-3 mt-2">
        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
      </li>
      <li class="d-lg-none d-xl-none nav-item px-3">
        <a class="nav-link" href="{{ url_for('search.search') }}">Data</a>
      </li>
      <li class="d-lg-none d-xl-none nav-item px-3">
        <a class="nav-link" href="{{ url_for('pipelines.pipelines') }}">Tools & Pipelines</a>
      </li>
      <li class="d-lg-none d-xl-none nav-item px-3">
        <a class="nav-link" href="{{ url_for('experiments.home') }}">Experiments</a>
      </li>
      <li class="d-lg-none d-xl-none nav-item px-3">
        <a class="nav-link" href="{{ url_for('main.share') }}">Share</a>
      </li>
      <li class="d-lg-none d-xl-none nav-item px-3">
        <a class="nav-link" href="{{ url_for('main.faq') }}">FAQ</a>
      </li>
      <hr class="d-lg-none d-xl-none w-100" /> 
      {% if not current_user.is_anonymous %} 
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ url_for('profile.current_user_profile_page') }}">Profile</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="/#/">Settings</a>
      </li> 
      {% endif %} 
      <li class="nav-item px-3">
        <a class="nav-link" href="{{url_for('main.about')}}">About</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{url_for('main.team')}}">Team</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#" id="btnShowTerms">Terms of Use</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link btnShowPrivacyPolicy" href="#">Privacy Policy</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ url_for('main.contact_us') }}">Contact Us</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#" id="btnShowTut">?</a>
      </li>
    </ul>
  </div>
</nav>


<script>
  $(function () {
    $('#btnShowTerms').on('click', function (event) {
      $('#termsModal').modal('show')
    });
  });
</script>
<script>
  var pathName = window.location.pathname
  var href = window.location.href
  if (pathName=="/index" || pathName=="/index#" || pathName=="/" || pathName=="/#"){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal1').modal('show')
    });
  });
  }
  else if (href.includes("dataset?id=projects") == true){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal2-1').modal('show')
    });
  });
  }
  else if (pathName=="/search" || pathName=="/search#"){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal2').modal('show')
    });
  });
  }
  else if (href.includes("pipeline?id") == true){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal3-1').modal('show')
    });
  });
  }
  else if (pathName=="/pipelines" || pathName=="/pipelines#"){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal3').modal('show')
    });
  });
  }
  else if (pathName=="/share" || pathName=="/share#"){
     $(function () {
    $('#btnShowTut').on('click', function (event) {
      $('#tutModal4').modal('show')
    });
  });
  }
</script>