<div
  id="sidebar"
  class="d-none d-lg-block d-xl-block container-fluid bg-mineshaft"
  role="navigation"
>
  <div class="sticky-top sticky-offset">
    <a
      class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3 sidebar-tab"
      href="{{ url_for('main.index') }}"
    >
      <h1><i class="fa fa-home"></i></h1>
      <p class="text-center text-capitalize p-1">Home</p>
    </a>
    <a
      class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3 sidebar-tab"
      href="{{ url_for('experiments.home') }}"
    >
      <h1><i class="fa fa-desktop"></i></h1>
      <p class="text-center text-capitalize p-1">Experiments</p>
    </a>
    <a
      class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3 sidebar-tab"
      href="{{ url_for('search.search') }}"
    >
      <h1><i class="fa fa-search"></i></h1>
      <p class="text-center text-capitalize p-1">Data</p>
    </a>
    <a
      class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3 sidebar-tab"
      href="{{ url_for('pipelines.pipelines') }}"
    >
      <h1><i class="fa fa-wrench"></i></h1>
      <p class="text-center text-capitalize p-1">Tools & Pipelines</p>
    </a>
    <a class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3  sidebar-tab"
      href="{{ url_for('main.share') }}">
      <h1><i class="fa fa-arrow-circle-o-up"></i></h1>
      <p class="text-center text-capitalize p-1">
        Share
      </p>
    </a>
    <a class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3  sidebar-tab"
      href="{{ url_for('main.download') }}">
      <h1><i class="fa fa-arrow-circle-o-down"></i></h1>
      <p class="text-center text-capitalize p-1">
        Download
      </p>
    </a>
    <a class="col-12 d-flex flex-column justify-content-center align-items-center text-white p-3  sidebar-tab"
      href="{{ url_for('main.faq') }}">
      <h1><i class="fa fa-info-circle"></i></h1>
      <p class="text-center text-capitalize p-1">FAQ</p>
    </a>
  </div>
</div>
