<div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation" style="margin-left: -30px;">
    <div class="sidebar-nav">
        <ul class="nav" style="margin-left: -6px;">

            <li class="active text-center">
                <a href="/public" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i><br> Dashboard </span>
                </a>
            </li>


            <li class="text-center">
                <a href="/search" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-search fa-3x" aria-hidden="true"></i><br> Search </span>
                </a>
            </li>

            <li class="text-center">
                <a href="#" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-wrench fa-3x" aria-hidden="true"></i><br> Tools </span>
                </a>
            </li>

            <li class="text-center">
                <a href="#" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-upload fa-3x" aria-hidden="true"></i><br> Share </span>
                </a>
            </li>

            <li class="text-center">
                <a href="#" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-comments fa-3x" aria-hidden="true"></i><br> Community </span>
                </a>
            </li>

             <li class="text-center">
                <a href="#" style="padding-top: 25px; padding-bottom: 25px;"><span><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i><br> Profile </span>
                </a>
            </li>
        </ul>
    </div>
    <!--/.well -->
</div>
<!--/span-->