{% extends 'common/base_login.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block cardtitle %}
CONP Portal: Resend Confirmation Email
{% endblock %}

{% block appcontent %}
  <section class="row">
    <div class="col">
      Please tell us the email address to resend the confirmation to:
    </div>
  </section>
  <form action="" method="POST" class="form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.email, class='form-control', placeholder='Email Address to Resend Confirmation') }}
      <button type=submit class='btn btn-primary btn-block'>Resend Confirmation</button>
  </form>
{% endblock %}
