{% extends 'common/base_login.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block cardtitle %}
CONP Portal: Reset Password
{% endblock %}

{% block appcontent %}
  <form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.new_password, class='form-control', placeholder='New Password') }}
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    {{ wtf.form_field(form.retype_password, class='form-control', placeholder='Retype New Password') }}
    {% endif %}
    <button type=submit class='btn btn-primary btn-block btn-signin'>Reset Password</button>
  </form>
{% endblock %}
