{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_multiselect_field(field, selected) %}
  <div class="form-group">
    {{field.label}}
    <select class="mdb-select md-form" id ="{{ field.name }}" name="{{ field.name }}" multiple>
      {% for o in field.choices %}
        {% if o[0] in selected %}
          <option value='{{ o[0] }}' selected>{{ o[1] }}</option>
        {% else %}
          <option value='{{ o[0] }}'>{{ o[1] }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro render_select_field(field,selected) %}
  <dt> {{ field.label }}
  <dd> {{ field(**kwargs)|set_selected_for_multiselect(selected)|safe }}
  {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
        <li> {{ error }} </li>
      {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_terms_box() %}
<div class="row">
  <div class="col border" style="max-height:200px; overflow-y: scroll;border:1;">
      <h4>
        CONP Terms and Conditions of Use (for Display and Demonstration Purposes Only)
      </h4>
      <hr>
      <h5 id="item-1">I.  Acceptance</h5>
      <h6>
        Acceptance of these terms and conditions govern your use of the CONP portal and the resources found therein. By clicking the box next to “I Agree” you agree to be bound by these terms and conditions.
      </h6>
      <br>
      <h5 id="item-2">II. Definitions</h5>
      <h6>
        “Contributor” means the user who shared a Resource through the CONP Portal.
        “Resource” means anything shared through the CONP portal including, but not limited to, data, software, publications, figures, and ideas shared through forums.
        “Landing-Page” means the webpage on the CONP portal detailing the Resource and through which the Resource is accessed
      </h6>
      <br>
      <h5 id="item-3">III. Privacy</h5>
      <h6>
        The user agrees (1) to not attempt to re-identify or re-contact individual participants, and (2) not to link individual-level datasets in a way that increases risk of re-identification
      </h6>
      <h5>
        IV. Ethics Oversight
      </h5>
      <br>
      <h5>
        The user agrees to obtain any required ethical or regulatory permissions concerning their use of the Resources
      </h5>
      <br>
      <h5>
        V.  Scope of Use
      </h5>
      <br>
      <h6>
        The user agrees to respect ethical use restrictions associated with Resources (found on the Resource Landing-Page)
      </h6>
      <br>
      <h5>
        VI. Confidentiality and Security
      </h5>
      <br>
      <h6>
        The user agrees to (1) keep access-restricted Resources confidential and (2) to return or destroy access-restricted Resources if their authorization expires or is terminated
      </h6>
      <br>
      <h5>
        VII.  Monitoring
      </h5>
      <br>
      <h6>
        The user agrees (1) to respond promptly to requests from the CONP concerning their use of the CONP Portal and (2) to immediately report to the CONP any activity that breaches these Terms and Conditions of Use
      </h6>
      <br>
      <h5>
        VIII. Citation
      </h5>
      <br>
      <h6>
        The user agrees to cite any Resource the use of which contributed to a publication in accordance with (1) the CONP Publication Policy, and (2) any applicable Resource specific publication requirements as found on the Resource Landing-Page
      </h6>
      <br>
      <h5>
        IX. Ownership and Open Licensing
      </h5>
      <br>
      <h6>
        The user agrees to respect any licensing terms associated with any Resource found on the Resource Landing-Page
      </h6>
      <br>
      <h5>
        X.  No Restrictive Intellectual Property
      </h5>
      <br>
      <h6>
        The user agrees not to attempt to claim intellectual property rights, or any other proprietary right, in Resources accessed through the CONP Portal. Such rights include, but are not limited to, patent rights or copyrights
      </h6>
      <br>
      <h5>
        XI. Sale of Data
      </h5>
      <br>
      <h6>
        The user agrees not to sell data shared through the CONP Portal, or any processed or reorganized derivation thereof, to third parties without the written permission of the original Resource Contributor
      </h6>
      <br>
      <h5>
        XII.  Change Terms of Use
      </h5>
      <br>
      <h6>
        The user agrees that the CONP has the right to change or update these Terms and Conditions of Use at any time without prior notice to the user. It is the user’s responsibility to check the CONP website to ascertain whether the Terms and Conditions of Use have been changed or updated
      </h6>
    </div>
  </div>
  {% endmacro %}
