{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CONP">
<meta name="author" content="CONP">
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }} " rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{{ url_for('static',filename='img/conp.ico')}}" rel="shortcut icon" type="image/png" />
<link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Matomo -->
<script type="text/javascript">
  var matomoUrl = {{ config['MATOMO_SERVER_URL']|tojson }}
  var matomoSiteId = {{ config['MATOMO_SITE_ID']|tojson }}
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=`//${matomoUrl}/`;
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', `${matomoSiteId}`]);
    _paq.push(['enableHeartBeatTimer']);
    _paq.push(['trackPageView']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Terms of Use</h4>
      </div>
      <div class="modal-body">
        <div class="terms-body">
          <p class="text-center">(Last Updated on March 30th, 2020)</p>
          <h6>The user agrees:</h6>
          <ul>
            <li>
              to obtain required ethics or other approvals before using shared resources.
            </li>
            <li>
              to respect any use restrictions and conditions based on consents or ethics approvals
              associated with shared resources.
            </li>
            <li>
              to ensure the confidentiality of restricted access resources, and to establish appropriate
              security safeguards.
            </li>
            <li>
              to cite any shared resource used to produce a scholarly publication or other publicly
              disclosed research output according to generally accepted practice, including respecting any
              preferred means of citation for the resource articulated on its landing page, and using any
              persistent digital identifier associated with the resource.
            </li>
            <li>
              to respect any licensing terms associated with shared resources.
            </li>
            <li>
              that the CONP has the right to change or update these Terms
              of Use at any time without prior notice to the user. It is the user’s responsibility to
              check the CONP platform’s website to ascertain whether the Terms of Use have been
              changed or updated.
            </li>
            <li>
              that all resources available on the CONP are provided on an
              “as is” basis, and the Platform disclaims all warranties, express or implied, including but
              not limited to any warranty that the use of resources will not cause injury or infringe any
              third party rights.
            </li>
            <li>
              that the CONP excludes all liability, to the greatest extent
              permitted by applicable law, with respect to the use or distribution of resources.
            </li>
          </ul>
          <h6>The user agrees not to:</h6>
          <ul>
            <li>
              use shared resources to re-identify or re-contact individual participants.
            </li>
            <li>
              claim intellectual property rights, or any other proprietary right, over shared
              resources in such a way that could interfere with the freedom of others to access and use
              shared resources.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTerms">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tutModal1" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Help</h4>
      </div>
      <div class="modal-body">
        <ul>
           <h4>How can I access the portal?</h4>
           <p>The CONP portal is accessible via the Portal link of the CONP main website or directly at portal.conp.ca.</p>
            <img src="/static/img/Portal_access_from_conp.ca.png"alt="Portal_access_from_conp.ca" width="700px"> 
           <p>No login is required to access the portal but you will be asked to agree to the "Terms of Use" of the portal on 
           your first visit. These can always be re-consulted anytime by clicking on the "Terms of Use" link at the top right 
           of the portal web page.</p>
           <img src="/static/img/Terms_of_use.png"alt="Portal_access_from_conp.ca" width="700px"> 
           <p>Upon agreement to the "Terms of Use", you will be able to filter through the various datasets or pipelines 
           available on the portal.</p>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTut1">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tutModal2" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Help</h4>
      </div>
      <div class="modal-body">
        <ul>
            <h4>How can I find and download datasets?</h4>
            <h5>How to find datasets of interest?</h5>
            <p>Datasets are listed in the Data search page of the portal. This search page 
            lists all datasets available through the CONP with some basic information about 
            the dataset. Results can be filtered or sorted easily.</p>
            <img src="/static/img/Data_search_page.png"alt="Portal_access_from_conp.ca" width="700px">
            <p>Edit the code in the window to the left, and click "Run" to view the result.</p>
            <p>Clicking on a dataset row in the Data search page will bring the user to a more 
            detailed dataset page that includes more description information pertinent to the 
            dataset as well as download instructions to follow using DataLad.</p>
            <img src="/static/img/Dataset_detailed_page.png"alt="Portal_access_from_conp.ca" width="700px">
            <p>Note that some datasets may require a third-party account. Instructions on how to 
            obtain an account for those datasets will be displayed on the dataset page if that is a requirement.</p>
            <p>Below are two dataset examples, one that requires a third-party account (PREVENT-AD 
            open data) and one that does not require any account to download it (BigBrain dataset).</p>
            <img src="/static/img/Dataset_accounts.png"alt="Portal_access_from_conp.ca" width="700px">
            <h5>How to download the data?</h5>
            <p>Dataset download is available through DataLad. Each dataset page contains a detailed 
            ‘Dataset Download Instructions’ section that lay out the different steps to perform in order 
            to download the dataset.</p>
            <img src="/static/img/Dataset_download_instructions.png"alt="Portal_access_from_conp.ca" width="700px">
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTut2">Help</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tutModal3" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Help</h4>
      </div>
      <div class="modal-body">
        <ul>
            <h4>How can I find and run tools/pipelines?</h4>
            <h5>How to find a tool/pipeline?</h5>
            <p>The Tools & Pipelines page lists all softwares registered in the portal. Each tool 
            or pipeline present in that list page contains basic information about the tool/pipeline 
            and its pipeline ID.</p>
            <img src="/static/img/Pipeline_search_page.png"alt="Portal_access_from_conp.ca" width="700px">
            <p>Clicking on a specific choice will bring the user to a more detailed page with links 
            to instructions on how to run the tool locally, to HCPs or to external platforms.</p>
            <img src="/static/img/Pipeline_detailed_page.png"alt="Portal_access_from_conp.ca" width="700px">
            <h5>How to run the tool/pipeline?</h5>
            <h6>Run the tool locally</h6>
            <p>Tools and pipelines can be run locally on any system using Boutiques and a container engine 
            (Docker or Singularity) based on the Zenodo ID of the tool. The container image for the tool is 
            isted in the detailed page of the tool/pipeline.</p>
            <p>At the bottom of the pipeline page, detailed instructions on how to run the tool locally 
            are available to the user.</p>
            <img src="/static/img/Boutiques_instructions.png"alt="Portal_access_from_conp.ca" width="700px">
            <p>If you have never used Boutiques in the past, we recommend the following tutorial.</p>
            <h6>Run the tool on HPCs</h6>
            <p>Some tools and pipelines can also be run on HPCs via the CBRAIN infrastructure or in 
            your Compute Canada account with Clowdr.</p>
            <img src="/static/img/CBRAIN_link_highlighted.png"alt="Portal_access_from_conp.ca" width="700px">
            <p>The 'Click here to begin' link under the 'Run on the CBRAIN Plateform' container will open a 
            tab to the login page of CBRAIN or to your CBRAIN account if you are already logged in.</p>
            <p>The 'Click here for instructions' link under the 'Run on HPCs with Clowdr' will open a 
            new tab with the instructions to follow to deploy a tool/pipeline on your Compute Canada account.</p>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTut3">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tutModal4" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Help</h4>
      </div>
      <div class="modal-body">
        <h4>How can I upload my dataset?</h4>
        <p>A dataset can be uploaded to CONP via the following mechanisms:</p>
        <li>Through Zenodo by tagging your dataset with the keyword canadian-open-neuroscience-platform</li>
        <li>Through the Open Science Framework (OSF) by tagging your dataset with the keyword canadian-open-neuroscience-platform
         and setting the dataset to Public</li>
         <li>Through DataLad within the context of CONP</li>
         <p>Detailed technical instructions are available for all these options on the Share page of the portal.</p>
         <h4>How can I upload my tool/pipeline?</h4>
         <p>You can publish your tools/pipelines using Boutiques’ command bosh publish.</p>
         <p>For more information on how to do that, please visit the ‘Publishing your own tool’ section of the 
         Boutiques tutorial Python notebook.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTut4">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger modal -->
<script type="text/javascript">
  cookies = document.cookie;
  termsAccepted = false;
  if (cookies) {
    termsAccepted = cookies.includes('termsAccepted=true');
  }

  if (!termsAccepted) {
    $('#termsModal').modal('show')
  }
</script>

<script>
  $(function () {
    $('#btnAcceptTerms').on('click', function (event) {
      document.cookie = "termsAccepted=true;max-age=31536000";

      $('#termsModal').modal('hide')

    });

  });
</script>

<script>
  $(function () {
    $('#btnAcceptTut1').on('click', function (event) {
      $('#tutModal1').modal('hide')
    });

  });
</script>

<script>
  $(function () {
    $('#btnAcceptTut2').on('click', function (event) {
      $('#tutModal2').modal('hide')
    });

  });
</script>

<script>
  $(function () {
    $('#btnAcceptTut3').on('click', function (event) {
      $('#tutModal3').modal('hide')
    });

  });
</script>

<script>
  $(function () {
    $('#btnAcceptTut4').on('click', function (event) {
      $('#tutModal4').modal('hide')
    });

  });
</script>

<div id="page">
  {% block navigation_bar %}
  {% include "fragments/navigation_bar.html" %}
  {% endblock %}

  <div id="page-content" class="container-fluid d-flex flex-row px-0 align-self-start">

    <div class="mx-0">
      {% block sidebar %}
      {% include "fragments/sidebar.html" %}
      {% endblock %}
    </div>

    <div class="content-body container-fluid">
      <div class="content-title text-center">
        {% block contenttitle %}{% endblock %}
      </div>
      <hr />
      <div class="content-main px-2">
        {% block appcontent %}{% endblock %}
      </div>
    </div>
  </div>
  {% block footer %} {% include "/fragments/footer.html" %} {% endblock %}
</div>

{% endblock %}

</html>