{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CONP">
    <meta name="author" content="CONP">
{% endblock %}

{% block title %}
  {% if title %}
      {{ title }}
  {% else %}
      CONP Portal
  {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
  <link href="{{ url_for('static', filename='css/font-awesome.css') }}"
        rel="stylesheet"
        type="text/css"
  />
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }} "
        rel="stylesheet"
        type="text/css"
  />
  <link href="{{ url_for('static',filename='img/conp.ico')}}"
        rel="shortcut icon"
        type="image/png"
  />
  <link href="{{ url_for('static', filename='css/core.css') }}"
        rel="stylesheet"
        type="text/css"
  />
  <link href="{{ url_for('static', filename='css/pages.css') }}"
        rel="stylesheet"
        type="text/css"
  />
  <link href="{{ url_for('static',filename='css/bootstrap-multiselect.css') }}"
        rel="stylesheet"
        type="text/css"
  />
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
    ></script>
{% endblock %}

{% block body %}
{{ super() }}
<div id="page">
  {% block navigation_bar %}
    {% include "fragments/navigation_bar.html" %}
  {% endblock %}

  <div id="page-content" class="d-flex">
    {% block sidebar %}
      {% include "fragments/sidebar.html" %}
    {% endblock %}

    <div class="content-body container col-xs-12 col-sm-10">
      <div class="content-title">
          {% block contenttitle %}{% endblock %}
      </div>
      <hr />
      <div class="content-main">
        {% block appcontent %}{% endblock %}
      </div>
    </div>
  </div>
{% block footer %} {% include "/fragments/footer.html" %} {% endblock %}
</div>
{% endblock %}

</html>
