{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CONP">
<meta name="author" content="CONP">
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }} " rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{{ url_for('static',filename='img/conp.ico')}}" rel="shortcut icon" type="image/png" />
<link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="modalLongTitle">Terms of Use</h4>
      </div>
      <div class="modal-body">
        <div class="terms-body">
          <p class="text-center">(Last Updated on March 30th, 2020)</p>
          <h6>The user agrees:</h6>
          <ul>
            <li>
              to obtain required ethics or other approvals before using shared resources.
            </li>
            <li>
              to respect any use restrictions and conditions based on consents or ethics approvals
              associated with shared resources.
            </li>
            <li>
              to ensure the confidentiality of restricted access resources, and to establish appropriate
              security safeguards.
            </li>
            <li>
              to cite any shared resource used to produce a scholarly publication or other publicly
              disclosed research output according to generally accepted practice, including respecting any
              preferred means of citation for the resource articulated on its landing page, and using any
              persistent digital identifier associated with the resource.
            </li>
            <li>
              to respect any licensing terms associated with shared resources.
            </li>
            <li>
              that the CONP has the right to change or update these Terms
              of Use at any time without prior notice to the user. It is the user’s responsibility to
              check the CONP platform’s website to ascertain whether the Terms of Use have been
              changed or updated.
            </li>
            <li>
              that all resources available on the CONP are provided on an
              “as is” basis, and the Platform disclaims all warranties, express or implied, including but
              not limited to any warranty that the use of resources will not cause injury or infringe any
              third party rights.
            </li>
            <li>
              that the CONP excludes all liability, to the greatest extent
              permitted by applicable law, with respect to the use or distribution of resources.
            </li>
          </ul>
          <h6>The user agrees not to:</h6>
          <ul>
            <li>
              use shared resources to re-identify or re-contact individual participants.
            </li>
            <li>
              claim intellectual property rights, or any other proprietary right, over shared
              resources in such a way that could interfere with the freedom of others to access and use
              shared resources.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAcceptTerms">Accept</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger modal -->
<script type="text/javascript">
  cookies = document.cookie;
  termsAccepted = false;
  if (cookies) {
    termsAccepted = cookies.includes('termsAccepted=true');
  }

  if (!termsAccepted) {
    $('#termsModal').modal('show')
  }
</script>

<script>
  $(function () {
    $('#btnAcceptTerms').on('click', function (event) {
      document.cookie = "termsAccepted=true;max-age=31536000";

      $('#termsModal').modal('hide')

    });

  });
</script>

<div id="page">
  {% block navigation_bar %}
  {% include "fragments/navigation_bar.html" %}
  {% endblock %}

  <div id="page-content" class="container-fluid d-flex flex-row px-0 align-self-start">

    <div class="mx-0">
      {% block sidebar %}
      {% include "fragments/sidebar.html" %}
      {% endblock %}
    </div>

    <div class="content-body container-fluid">
      <div class="content-title">
        {% block contenttitle %}{% endblock %}
      </div>
      <hr />
      <div class="content-main px-2">
        {% block appcontent %}{% endblock %}
      </div>
    </div>
  </div>
  {% block footer %} {% include "/fragments/footer.html" %} {% endblock %}
</div>

{% endblock %}

</html>