@import "https://code.highcharts.com/css/highcharts.css";
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,700" rel="stylesheet">

body {
    	color: #343434;
        font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
        font-family: 'PT Sans Narrow', sans-serif;
        line-height: 1.3em;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 400;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.4em; }

.glyphicon-log-in {
  color: black;
}

.glyphicon-log-out {
  color: black;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.container {
  max-width: 1920px;
  width: 100%;
}

.main_sidebar {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: left, width;
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
  background: #293749;
}
.main_sidebar:after {
  content: "";
  background-color: #253238;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 58px;
}
.main_sidebar ul {
  list-style: none;
  padding-left: 58px;
}
.main_sidebar ul li {
  padding: 10px;
}
.main_sidebar ul li a {
  color: #fff;
  display: block;
}
.main_sidebar ul li i {
  float: left;
  color: grey;
  margin-left: -58px;
  font-size: 24px;
  padding-left: 7px;
}
.main_sidebar ul li:hover {
  background: #167696;
}
.main_sidebar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.main_sidebar ul li:hover i {
  color: #fff;
}
.main_sidebar ul li.active {
  background: #0f4698;
}
.main_sidebar ul li.active i {
  color: #fff;
}
.main_sidebar ul li.active:hover {
  background: #167696;
}
.main_sidebar ul li.active:hover i {
  color: #fff;
}

.main {
  float: right;
  color: #fff;
  display: block;
  width: 100%;
  background: red;
  min-height: 100vh;
}

.page-title{
  text-align: center;
  padding-bottom: 15px;
  margin-top: 20px;"
}

.display-user{
  text-align: right;
  margin-top: 60px;
}

 a.a-link {
  text-decoration: none !important;
}

#chart {
  height: 400px;
  max-width: 800px;
  margin: 0 auto;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
  fill: #7cb5ec;
}
.highcharts-color-1 {
  fill: #90ed7d;
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
  fill: #90ed7d;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}

.data-table td td {
  border: 0;
}

table td {
  border-top: none !important;
}

.table th,
.table td {
  border-top: none !important;
}

/*
=============================================================
| STYLES
=============================================================
*/
.bg-mineshaft {
  background-color: #343434;
}

/*
=============================================================
| BASE
=============================================================
*/

html {
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

/*
=============================================================
| NAVBAR
=============================================================
*/

.nav a {
  color: #444444;
}

.navbar-nav>li>a {
  min-height: 60px;
}

.navbar.navbar-inverse-red {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    background: #fff;
    border-bottom: 2px solid;
    border-bottom-color: #FF0000;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}


.navbar .container {
  padding: 0;
}

.navbar > .container .navbar-brand {
  padding: 0 2rem;
}


.custom-logo-link{
  margin-left: 105px;
  margin-top: 5px;
  height: 42px;
  width: 75px;
}

@media screen and (max-width: 768px) {
.custom-logo-link{
  margin-left: 25px;
  margin-top: 5px;
  height: 42px;
  width: 75px;
}
}

.navbar-nav>li>a {
    position: relative;
    display: block;
    /*padding: 10px 10px;*/
    font-weight: 400;
    text-decoration: none;
    line-height: 1.6em;
}

@media screen and (max-width: 768px) {
  .navbar-nav>li>a {
    margin-left: 40px;
    margin-bottom: auto;
  }
}


.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 8px;
    background-color: #343434;
}


li.active-nav > a {
  background-color: #ed2225;
  color: white;
}

li.active-nav:hover > a {
  background-color: white;
  color: black;
}

.navbar-nav > .login > a {
  padding-right: 2rem;
}

.navbar-toggle .icon-bar {
  background-color: #ed2125;
}

/*
=============================================================
| SIDEBAR
=============================================================
*/
.sidebar-offcanvas {
  padding: 0;
  flex-grow: 1;
}

.sidebar-nav {
  background-color: #343434;
  height: 100%;
  margin-top: 60px;
}

.sidebar-nav .nav li a:hover span {
  color: black;
}

.sidebar-nav .nav li span {
  color: white; /* text color */
}

.sidebar-nav .nav li span:hover {
  color: black;
}


.sidebar-nav .nav li .sidebar-link {
  padding: 2.5rem 1rem;
}

.sidebar-nav .nav li .slim-sidebar-link {
  padding: 0.5rem 1rem;
  text-align: left;
}

.sidebar-nav-hr {
  width: 80%;
}

/*
=============================================================
| NEUROLIBRE
=============================================================
*/

.image-swap {
   display: block;
   /*width: 95px;*/
}

.image-swap:hover {
   background-color: #EEEEEE;
   color: black;
}

.image-swap:before {
   display: inline-block;
   content: '';
   background: url(../img/neurolibre-icon.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 72px;
   height: 50px;
}
.image-swap:hover:before {
   background: url(../img/neurolibre-icon-black.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   color: black;
}

/*
=============================================================
| FOOTER
=============================================================
*/

.footer {
  background-color: #343434;
  padding: 4rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer .footer-text {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .footer-text strong {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.footer .footer-link {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer .footer-link:hover {
  color: #ed2125;
}

/*
=============================================================
| CONTAINER
=============================================================
*/

body .container {
  flex-grow: 1;
}

body .container .container-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
}

/*
=============================================================
| COMPONENT - SEARCH
=============================================================
*/

.footer {
  background-color: #343434;
  padding: 7rem 0;
}

.search-header {
  text-align: center;
  padding-bottom: 1rem;
}

.search-dataset-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #343434;
  padding: 1rem;
}

.search-dataset-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border: 1px solid #343434;
}

.search-dataset-footer .pagination {
  margin: 10px 0
}

.search-dataset {
  display: flex;
  border: 1px solid #343434;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  padding: 2rem 0;
}

.dataset-social {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  flex: 1;
}

.dataset-social-icons {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  margin-bottom: 0;
}

.dataset-social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-fa {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.dataset-details {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
}

.dataset-details-stats {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1 5 50rem;
}

.dataset-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}

.dataset-stat {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
}

.dataset-stat-text {
  font-weight: 700;
  margin-bottom: 1rem;
}

.dataset-options {
  display: flex;
  flex: 0 1 30rem;
  padding: 2rem;
  padding-left: 0;
}

.dataset-option {
  display: flex;
  align-items: center;
  flex: 0 1 20rem;
  padding-right: 2rem;
}

.option-icon {
  width: 100%;
  padding-right: 1rem;
}

/*
=============================================================
| COMPONENT - DASHBOARD
=============================================================
*/

.hr-border{
  border-top: 1px solid #afafaf;
}

.col-border {
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #afafaf;
    /*margin-left: -10px;*/
    /*margin-right: 10px;*/
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px #afafaf;
}

@media screen and (min-width: 768px) {
  .col-border {
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: auto;
  }
}

.col-sm-4 {
    border-radius: 2px;
}

.row-border{
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #afafaf;
    box-shadow: 2px 2px 6px #afafaf;
}

.a:hover{
    text-decoration: none !important;
}

/*
=============================================================
| DATASET Page
=============================================================
*/

.dataset-metadata{
  border: 1px solid black;
}

.dataset-version{
  background-color: lightgray;
  text-align: center;
  border-right: 1px solid black;
  padding: 20px;
  height: 100%;
}

.dataset-information{
  padding: 20px;

}

