.styleguide {
  width: 100%;
}

.styleguide__section {
  border: 2px solid #ececec;
  margin-bottom: 1rem;
}

.styleguide__section__header h4 {
  margin: 1rem 0;
  text-align: center;
}

.styleguide__section__header h5 {
  margin: 0.5rem 0;
}

.styleguide__section__header {
  background: #f8f8f8;
  border-bottom: 2px solid #ececec;
  padding: 0 1rem;
}

.styleguide__section__body {
  padding: 1rem;
}

.styleguide__palette__swatch {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1px 2px 8px -5px #000000;
  margin: 1rem;
}
