{% extends 'common/base_main.html' %}

<!-- Title Block -->

{% block contenttitle %}
<h2><span style="color:red;">CONP Portal </span> | About</h2>
{% endblock %}

<!-- Content Block -->

{% block appcontent %}
<div class="d-flex flex-column p-2">
  <p>
    This portal is a web interface for the
    <a target="_blank" rel="noopener noreferrer" href="https://conp.ca">
      Canadian Open Neuroscience Platform (CONP)
    </a>
    to facilitate open science in the neuroscience community. CONP simplifies global
    researcher access and sharing of datasets and tools. The portal internalizes the
    cycle of a typical research project: starting with data acquisition, followed by
    processing using already existing/published tools, and ultimately publication of
    the obtained results including a link to the original dataset.
  </p>
  <p>
    This infrastructure was built using technologies and best practices employed to make
    sharing easier and reproducible. Datasets are tracked and indexed using
    <a target="_blank" rel="noopener noreferrer" href="http://www.datalad.org">
      DataLad
    </a>
    and
    <a target="_blank", rel="noopener noreferrer" href="https://git-annex.branchable.com/">
      Git-Annex.
    </a>
    To ensure reproducibility of results, tools and pipelines can be run using
    <a target="_blank", rel="noopener noreferrer" href="https://boutiques.github.io/">
      Boutiques
    </a>
    and a container engine (
    <a target="_blank", rel="noopener noreferrer" href="http://www.docker.com">
      Docker
    </a>
    or
    <a target="_blank", rel="noopener noreferrer" href="https://sylabs.io/docs/">
      Singularity
    </a>
    ). In addition, some pipelines can also be run using High Performance Computing (HPC)
    via hooks to the
    <a target="_blank", rel="noopener noreferrer" href="https://mcin.ca/technology/cbrain/">
      CBRAIN
    </a>
    platform.
  </p>
  <p>More information about CONP can be found
    <a target="_blank", rel="noopener noreferrer" href="https://conp.ca/">
      here.
    </a>
  </p>


  <h2>What are the portal capabilities?</h2>
  <p>
    The portal is a conduit that incorporates best practices for data sharing and
    reproducibility. The graph below highlights the portal capabilities.
  </p>
  <img class="img-fluid" style="width:80%;margin-left:auto;margin-right:auto"
       alt="CONP graph" src="/static/img/CONP-features.png" />
  <p></p>
  <p>
    In the future, the portal will offer streamlined data download capabilities and an
    interface to facilitate the creation of the dataset descriptor (
    <a target="_blank", rel="noopener noreferrer"
       href="https://github.com/CONP-PCNO/conp-documentation/blob/master/CONP_DATS_fields.md">
      DATS.json
    </a>
    ). Additional analytics and advanced querying (e.g.
    <a target="_blank", rel="noopener noreferrer" href="https://bluebrainnexus.io">
      Nexus
    </a>
    ) will also be available. Finally, we are working on integrating citation capabilities
    and data publishing of Notebooks via
    <a target="_blank", rel="noopener noreferrer" href="http://neurolibre.conp.ca/">
      Neurolibre.
    </a>
  </p>


  <h2>What kinds of data can I find on the CONP Portal?</h2>
  <p>
    The CONP Portal provides a gateway to a diverse range of
    {{ countDatasets }} datasets,
    primarily neuroimaging but also transcriptomics, genomics, and other related
    data modalities. Many of these datasets have been made accessible by neuroscience
    research institutes across Canada, while others link to publicly available
    resources that may be of interest to neuroscientists. A full list can be found
    <a target="_blank", rel="noopener noreferrer" href="https://portal.conp.ca/search">
      here.
    </a>
  </p>
  <img class="img-fluid" style="width:50%;margin-left:auto;margin-right:auto"
       alt="Dataset Graph" src="/static/img/CONP-datasets.png" />
  <p>
    One of the key dataset available through the portal is the PREVENT-AD open dataset
    that includes longitudinal MRI follow-up and some basic demographics on a population
    of individuals with a family history of Alzheimer’s Disease. In the near future,
    additional data will be shared via a registered access for this PREVENT-AD cohort
    with clinical, cognitive and other biomarkers measures that were collected on this
    rich cohort. The original PREVENT-AD dataset is available
    <a target="_blank", rel="noopener noreferrer" href="http://localhost:5000/dataset?id=projects/preventad-open">
      here.
    </a>
    The same dataset organized according to the BIDS standard can be found
    <a target="_blank", rel="noopener noreferrer" href="http://localhost:5000/dataset?id=projects/preventad-open-bids">
      here.
    </a>
  </p>


  <h2>How can I access datasets</h2>
  <p>
    CONP allows you to access and process data on public and private infrastructures
    via the CONP Portal. Data stored in private projects can be accessed by
    registered users and portal administrators. The ownership of all data uploaded,
    stored on the CONP remains with the original owner of the data along with all
    copyright and license attributes. The data generated within the CONP would belong
    to the registered users.
  </p>
  <p>
    The CONP portal was designed to parse existing datasets both externally and within
    the CONP context. As such, a variety of datasets are available for download within
    this portal. To access the data, the user will first go to the
    <a target="_blank", rel="noopener noreferrer" href="https://portal.conp.ca/search">
      Data page
    </a>
    and filter for data of interest. Clicking on an individual dataset will provide
    more detailed information and download instructions. There are a number of data
    download methodologies that will be available to match different user preferences.
    At the moment, access to datasets is available using the
    <a target="_blank", rel="noopener noreferrer" href="http://www.datalad.org">
      DataLad
    </a>
    data management system. One-click data download functionality is under development
    and will be available in the future.
  </p>
  <p>
    Once the user has downloaded a dataset, what can they do with it? We also provide
    a wide range of
    <a target="_blank", rel="noopener noreferrer" href="https://portal.conp.ca/pipelines">
      tools and pipelines.
    </a>
    Read the following sections to find out more.
  </p>


  <h2>What tool/pipelines are accessible via the CONP Portal?</h2>
  <p>
    The CONP portal aggregates a diverse range of
    {{ countPipelines }} tools and pipelines.
    Many of these tools/pipelines are well-established and have been provided by
    neuroscience or genomics research institutes. A full list can be found
    <a target="_blank", rel="noopener noreferrer" href="https://portal.conp.ca/pipelines">
      here.
    </a>
  </p>

  <h2>How can I use tools/pipelines?</h2>
  <p>
    Several mechanisms are available to run tools and pipelines found on the CONP portal:
  </p>
  <ul>
    <li>
      Tools and pipelines can be run locally on any system using
      <a target="_blank", rel="noopener noreferrer" href="https://boutiques.github.io/">
        Boutiques
      </a>
      and a container engine (
      <a target="_blank", rel="noopener noreferrer" href="http://www.docker.com">
        Docker
      </a>
      or
      <a target="_blank", rel="noopener noreferrer" href="https://sylabs.io/docs/">
        Singularity
      </a>
      ) based on the
      <a target="_blank", rel="noopener noreferrer" href="https://zenodo.org/">
        Zenodo
      </a>
      ID of the tool. If you have never used Boutiques in the past, we recommend the
      following
      <a target="_blank", rel="noopener noreferrer"
         href="https://nbviewer.jupyter.org/github/boutiques/tutorial/blob/master/notebooks/boutiques-tutorial.ipynb#reusing_tools">
        tutorial.
      </a>
    </li>
    <li>
      Some tools and pipelines can be run on HPCs via the
      <a target="_blank", rel="noopener noreferrer" href="https://mcin.ca/technology/cbrain/">
        CBRAIN
      </a>
      infrastructure.
    </li>
  </ul>


  <h2>How can I share/upload a dataset?</h2>
  <p>
    The idea of this portal is to have a distributed, automated and simple manner of
    sharing data. We recognize that having one system to rule them all is not feasible,
    so our goal is interoperability. Sharing will occur, ideally through API connections
    for existing platforms, or by providing resources to users without storage/sharing
    infrastructure.
  </p>
  <p>
    Data can be uploaded to CONP via the following mechanisms, using:
  </p>
  <ul>
    <li>
      <a target="_blank", rel="noopener noreferrer" href="https://zenodo.org/">
        Zenodo
      </a>
      by tagging your dataset with the keyword
      <code>canadian-open-neuroscience-platform</code>
    </li>
      The Open Science Framework (
      <a target="_blank", rel="noopener noreferrer" href="https://osf.io/">
        OSF
      </a>
      ) by tagging your dataset with
      <code>canadian-open-neuroscience-platform</code>
      and setting the dataset to <code>Public</code>
    </li>
    <li>
      Using
      <a target="_blank", rel="noopener noreferrer" href="http://www.datalad.org">
        DataLad
      </a>
      within the context of CONP
    </li>
  </ul>
  <p>
    <a target="_blank", rel="noopener noreferrer"
        href="https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md">
      Detailed technical instructions
    </a>
    are available for all these options.
  </p>

</div>

{{ content|safe }}
{% endblock %}