{% extends 'common/base_main.html' %}

<!-- Title Block -->

{% block contenttitle %}
    <h2><span style="color:red;">CONP Portal </span> | About</h2>
{% endblock %}

<!-- Content Block -->

{% block appcontent %}
    <div class="d-flex flex-column p-2">
        <p>
            The
            <a target="_blank" rel="noopener noreferrer" href="https://conp.ca">
                Canadian Open Neuroscience Platform (CONP)
            </a>
            Portal is a web interface that facilitates open science for the neuroscience community
            by simplifying global access to and sharing of datasets and tools. The Portal internalizes
            the typical data cycle of a research project, beginning with data acquisition, followed
            by data processing with published tools, and ultimately the publication of results with
            a link to the original dataset.
        </p>
        <p>
            The CONP Portal was built using technologies and best practices that make
            sharing easier and reproducible.
            <a target="_blank" rel="noopener noreferrer" href="http://www.datalad.org">DataLad</a>,
            and
            <a target="_blank" rel="noopener noreferrer" href="https://git-annex.branchable.com/">
                Git-Annex
            </a>
            are used to track and index datasets, while
            <a target="_blank" rel="noopener noreferrer" href="https://boutiques.github.io/">
                Boutiques
            </a>
            is used in conjunction with a container engine (e.g.
            <a target="_blank" rel="noopener noreferrer" href="http://www.docker.com">Docker</a>
            or
            <a target="_blank" rel="noopener noreferrer" href="https://sylabs.io/docs/">Singularity</a>)
            to ensure reproducibility of results. In addition, some pipelines can also be run using High
            Performance Computing (HPC) via links to the
            <a target="_blank" rel="noopener noreferrer" href="https://mcin.ca/technology/cbrain/">
                CBRAIN
            </a>
            platform.
        </p>
        <p>A tutorial on how to use the CONP Portal can be found
            <a target="_blank" rel="noopener noreferrer" href="{{ url_for('main.tutorial') }}">here</a>.
        </p>


        <h2>What are the Portal features?</h2>
        <p>
            The CONP Portal offers:
        </p>
        <ul>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="/search">dataset</a>
                and
                <a target="_blank" rel="noopener noreferrer" href="/pipelines">tool</a>
                search engines
            </li>
            <li>
                detailed dataset descriptions in the form of a
                <a target="_blank" rel="noopener noreferrer"
                   href="https://github.com/CONP-PCNO/conp-documentation/blob/master/CONP_DATS_fields.md">
                    DATS.json
                </a>
                file (based on
                <a target="_blank" rel="noopener noreferrer" href="https://schema.org/">schema.org</a>)
            </li>
            <li>
                a web-based
                <a target="_blank" rel="noopener noreferrer" href="/dats-editor">interface</a>
                to facilitate the creation of the dataset descriptor (DATS.json)
            </li>
            <li>
                streamlined data download capabilities
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="/sparql">advanced dataset querying</a>
                with
                <a target="_blank" rel="noopener noreferrer" href="https://bluebrainnexus.io">Nexus</a>
            </li>
            <li>
                a
                <a target="_blank" rel="noopener noreferrer" href="/analytics">dashboard</a>
                representation of CONP Portal content and activities
            </li>
        </ul>
        <p>
            Among a number of upcoming features, we are working on integrating citation capabilities
            and the publishing of Notebooks via
            <a target="_blank" rel="noopener noreferrer" href="http://neurolibre.conp.ca/">Neurolibre</a>.
        </p>
        <p></p>
        <img class="img-fluid" style="width:80%;margin-left:auto;margin-right:auto"
             alt="CONP graph" src="/static/img/CONP-features.png"/>
        <p></p>


        <h2>What kinds of data can I find on the CONP Portal?</h2>
        <p>
            The CONP Portal provides a gateway to a diverse range of approximately {{ countDatasets }}
            datasets including neuroimaging, histology, electrophysiology, transcriptomics, genomics,
            and many other data modalities. Many of these datasets have been provided by neuroscience
            research institutes across Canada, while others link to publicly available
            resources that may be of interest to neuroscientists. A full list can be found
            <a target="_blank" rel="noopener noreferrer" href="/search">here</a>.
        </p>
        <img class="img-fluid" style="width:50%;margin-left:auto;margin-right:auto"
             alt="Dataset Graph" src="/static/img/CONP-datasets.png"/>
        <p>
            Among them, for instance, are the Pre-symptomatic Evaluation of Experimental or Novel
            Treatments for Alzheimer Disease (PREVENT-AD)
            <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="/search?sortKey=conpStatus&sortComparitor=asc&page=1&max_per_page=10&cursor=0&limit=10&search=PREVENT-AD"
            >datasets</a>.
            They include longitudinal MRI scans and basic demographics for over 300 individuals
            with a family history of Alzheimer's Disease. In addition, more sensitive data are also
            available to Principal Investigators through a registered-access database of the PREVENT-AD
            dataset. These registered-access data include clinical and cognitive measures, as well as CSF protein
            levels and other biomarkers.
        </p>


        <h2>How can I access datasets?</h2>
        <p>
            The CONP Portal was designed to parse existing datasets from both external and
            internal sources, allowing it to provide access to a very wide variety of data.
            To access data, the user will first go to the
            <a target="_blank" rel="noopener noreferrer" href="/search">
                Data Search page
            </a>
            and filter for data of interest by keyword in the search box. Clicking on an individual dataset
            among the search results will provide more detailed information and download instructions.
            Depending on the dataset, data download may be available through both the
            <a target="_blank" rel="noopener noreferrer" href="http://www.datalad.org">
                DataLad
            </a>
            data management system and a one-click direct download function.
        </p>
        <p>
            The CONP Portal allows you to access and process data on both public and private
            infrastructures. The ownership of all data uploaded and
            stored on the CONP Portal is retained by the original owner, along with all
            copyright and license attributes.
        </p>
        <p>
            Once a dataset has been chosen, we also provide a wide range of
            <a target="_blank" rel="noopener noreferrer" href="/pipelines">
                tools and pipelines
            </a>
            with which to process them. Read the following sections to find out more.
        </p>


        <h2>What tool/pipelines are accessible via the CONP Portal?</h2>
        <p>
            The CONP Portal aggregates a diverse range of {{ countPipelines }} tools and
            pipelines. Many of these are well-established and have been sourced from or
            provided by research institutes from around the world. A full list can be found
            <a target="_blank" rel="noopener noreferrer" href="/pipelines">here</a>.
        </p>


        <h2>How can I use tools/pipelines?</h2>
        <p>
            Several mechanisms are available to run tools and pipelines found on the CONP Portal:
        </p>
        <ul>
            <li>
                locally on any system using
                <a target="_blank" rel="noopener noreferrer" href="https://boutiques.github.io/">
                    Boutiques
                </a>
                and a container engine
                (<a target="_blank" rel="noopener noreferrer" href="http://www.docker.com">Docker</a>
                or
                <a target="_blank" rel="noopener noreferrer" href="https://sylabs.io/docs/">Singularity</a>)
                based on the
                <a target="_blank" rel="noopener noreferrer" href="https://zenodo.org/">
                    Zenodo
                </a>
                ID of the tool. (If you have never used Boutiques in the past, we recommend the
                following
                <a target="_blank" rel="noopener noreferrer"
                   href="https://nbviewer.jupyter.org/github/boutiques/tutorial/blob/master/notebooks/boutiques-tutorial.ipynb">this
                    tutorial</a>)
            </li>
            <li>
                on High Perfomance Computing infrastructure via
                <a target="_blank" rel="noopener noreferrer" href="https://mcin.ca/technology/cbrain/">CBRAIN</a>
                or
                <a target="_blank" rel="noopener noreferrer" href="https://clowdr.org/">Clowdr</a>
            </li>
        </ul>


        <h2>How can I share/upload a dataset?</h2>
        <p>
            The CONP Portal offers a distributed, automated, and simple manner for sharing data
            according to the
            <a target="_blank" rel="noopener noreferrer" href="https://www.go-fair.org/fair-principles/">FAIR
                principles</a>,
            either through API connections to existing platforms or by providing resources to users who lack
            storage/sharing infrastructure.
        </p>
        <p>
            Data can be uploaded to the CONP Portal via the following mechanisms
            (<a
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md"
            >Detailed instructions</a>
            are available for all these options):
        <ul>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="https://zenodo.org/">Zenodo</a>
                by tagging your dataset with the keyword
                <code>canadian-open-neuroscience-platform</code>
            </li>
            <li>
                The Open Science Framework
                (<a target="_blank" rel="noopener noreferrer" href="https://osf.io/">OSF</a>)
                by tagging your dataset with
                <code>canadian-open-neuroscience-platform</code>
                and setting the dataset to <code>Public</code>
            </li>
            <li>
                Using
                <a target="_blank" rel="noopener noreferrer" href="http://www.datalad.org">DataLad</a>,
                for greater flexibility of data-source options
            </li>
        </ul>


    </div>

    {{ content|safe }}
{% endblock %}