{% extends 'common/base_main.html' %}

<!-- Head Block -->
{% block scripts %}
{{ super() }}
<script src=" {{ url_for('static',filename='js/react.development-16.11.0.js') }}"></script>
<script src=" {{ url_for('static',filename='js/react-dom.development-16.11.0.js') }}"></script>
<script type="text/javascript" src="static/lib/conp-react/umd/conp-react.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
{% endblock %}

{% block contenttitle %}
<h2><span style="color:red;">CONP</span> Portal | Analytics</h2>
{% endblock %}


<!-- Content Block -->
{% block appcontent %}

<div class="d-flex flex-column">
  <div class="p-2 flex-fill">
    <div class="card" data-type="dashboard">
      <div class="dashboard-about-container">
        
      </div>
    </div>
  </div>

  <div class="p-2 flex-fill">
    <div class="card w-100 mx-1" data-type="dashboard">
      <div id="dashboard-chart-container">

        </div>
    </div>
  </div>
  <div class="p-2 d-flex flex-wrap">
    <div class="card w-100 mx-1" data-type="dashboard">
      <div id="spotlight-container">

      </div>
    </div>
    <div class="card w-100 mx-1" data-type="dashboard">
        <div id="spotlight-container">

        </div>
    </div>
  </div>
</div>

{% endblock %}