<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CONP">
    <meta name="author" content="CONP">

    <title>{% block title %} CONP Data Portal {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/conp.ico"/>

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>

<body role="document">

    <div class="navbar navbar-inverse-red" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <div style="padding-top: 7px;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signup-modal">
                    <span class="glyphicon glyphicon-user"></span> Sign Up
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login-modal">
                    <span class="glyphicon glyphicon-log-in"></span> Sign In
                </button>
              </div>
          </li>
        </ul>

        <!-- Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="/index">
              <strong>CONP</strong>
          </a>-->
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade bd-example-modal-sm" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <form class="form-horizontal" id="signup" role="form" action="#" method="POST" enctype="multipart/form-data">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <div style="position: relative; left: 36%">
              <img src="static/img/conp-pcno-logo.png" style="height: 30%; width: 30%;">
              </div>
          </div>
          <!-- Modal Body -->
          <div class="modal-body" align="left">
            {{ signup.hidden_tag() }}
            <p>
            {{ signup.username.label }}<br>
            {{ signup.username(size=25) }}
            </p>
            <p>
            {{ signup.email.label }}<br>
            {{ signup.email(size=25) }}
            </p>
            <p>
            {{ signup.password1.label }}<br>
            {{ signup.password1(size=25) }}
            </p>
            <p>
            {{ signup.password2.label }}<br>
            {{ signup.password2(size=25) }}
            </p>
            <p>{{ signup.tos() }} {{ signup.tos.label }}</p>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade bd-example-modal-sm" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <form class="form-horizontal" id="login" role="form" action="/index" method="POST" enctype="multipart/form-data">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <div style="position: relative; left: 36%">
              <img src="static/img/conp-pcno-logo.png" style="height: 30%; width: 30%;">
              </div>
          </div>
          <!-- Modal Body -->
          <div class="modal-body" align="left">
            {{ signin.hidden_tag() }}
            <p>
            {{ signin.username.label }}<br>
            {{ signin.username(size=25) }}
            </p>
            <p>
            {{ signin.password.label }}<br>
            {{ signin.password(size=25) }}
            </p>
            <p>{{ signin.remember_me() }} {{ signin.remember_me.label }}</p>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </div>
      </div>
      </form>
    </div>

  </div>

    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>


    <div class="footer bg-mineshaft">
        <div class="footer-text">
          <strong>Canadian Open Neuroscience Platform (2019)</strong> 
          Code available on
          <a class="footer-link" href="https://github.com/CONP-PCNO/conp-portal">
              Github <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div> 
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
