<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="CONP" />
    <meta name="author" content="CONP" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/font-awesome.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/core.css" />
    <link rel="stylesheet" href="static/css/pages.css" />
    <link rel="shortcut icon" type="image/png" href="static/img/conp.ico" />
    {% block head %}{% endblock %}
  </head>

  <body id="page" role="document">
    {% block navigation_bar %} {% include "/fragments/navigation_bar.html" %} {%
    endblock %}

    <div id="page-content" class="d-flex">
      {% block sidebar %} {% include "/fragments/sidebar.html" %} {% endblock %}

      <div class="content-body container col-xs-12 col-sm-10">
        <div class="content-title">
          {% block title %}{% endblock %}
        </div>
        <hr />
        <div class="content-main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    {% block footer %} {% include "/fragments/footer.html" %} {% endblock %}

    <!-- Scripts -->

    <script src="static/js/highcharts/highcharts.js"></script>
    <script src="static/js/highcharts/exporting.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
