{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CONP">
    <meta name="author" content="CONP">
{% endblock %}

{% block title %}
  CONP Data Portal
{% endblock %}

{% block scripts %}
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="static/img/conp.ico"/>
    <link rel="stylesheet" href="static/css/custom.css">
    <script type="text/javascript" src="{{ url_for('static', filename='/static/js/bootstrap-multiselect.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='/static/css/bootstrap-multiselect.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

  <div class="navbar navbar-inverse-red" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% block brand_link %}{% endblock %}
      </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://conp.ca/">Home2</a></li>
              <li><a href="https://conp.ca/discover/">Discover</a></li>
                <li><a href="https://conp.ca/experience/">Experience <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="https://conp.ca/community/">Community <i class="fa fa-chevron-down"></i></a></li>
                <li class="active-nav"><a href="/index">Portal</a></li>
                {% if current_user.is_anonymous %}
                <li>
                  <a href="{{ url_for('user.login') }}">Login</a>
                </li>
                {% else %}
                <li class="login">
                    <a href="{{ url_for('user.logout') }}">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
      </div>
    </div>

  </div>

    <div class="container theme-showcase" role="main">

        <div class="row row-offcanvas row-offcanvas-left container-wrapper">

        {% block sidebar %}{% endblock %}

        <div class="col-xs-12 col-sm-10 col-md-11 container-main">
            {% block content %}{% endblock %}
        </div>

        </div>
      </div>

    </div>


  <div class="footer bg-mineshaft">
      <div class="footer-text">
        <strong>Canadian Open Neuroscience Platform (2019)</strong>
        Code available on
        <a class="footer-link" href="https://github.com/CONP-PCNO/conp-portal">
            Github <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
  </div>

{% endblock %}
</html>
