{% extends 'base.html' %}
{% block contact_active %} active {% endblock %}


{% block content %}

    <div style="text-align: center;">
    <h2>Contact</h2>
    <hr>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
         David Taylor is a PHD Candidate at the Massachusetts Institute of Technology
        "with experience and enthusiasm working in complex systems that benefit the poor.
        He is passionate about understanding how things connect and using engineering
        analysis to find leverage points that have meaningful impact. His research at
        the MIT Tata Center has focused on India’s urban water supply systems" (Tata Center Bio).
        For general inquries regarding the program's methodology, please contact David.

        <br><br>

        33 Massachusetts Avenue<br>
        Cambridge, MA<br>
        Massachusetts Institute of Technology<br>
        Email: dtaylor@mit.edu

        </div>
    </div>
{% endblock %}