{% extends 'common/base_main.html' %}

<!-- Head Block -->

{% block scripts %} {{ super() }}
<script src=" {{ url_for('static',filename='v1/js/react.development-16.11.0.js') }}"></script>
<script src=" {{ url_for('static',filename='v1/js/react-dom.development-16.11.0.js') }}"></script>
<script type="text/javascript" src="static/lib/conp-react/umd/conp-react.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{% endblock %}

<!-- Title Block -->

{% block contenttitle %}
<h2><span style="color: red">CONP Portal</span> | Tool Executions</h2>
{% endblock %}

<!-- Content Block -->

{% block appcontent %}
<div>
  <div id="execution-records-datatable-mount"></div>
  <script type="text/javascript">
    const reactElement = React.createElement(CONPReact.DataTableContainer, {
      endpointURL: "{{ url_for('execution_records.execution_records_search') }}",
      imagePath: "/static/img",
      renderElement: CONPReact.ExecutionRecordElement,
      filters: {{ filters|tojson }}
    });
    ReactDOM.render(reactElement, document.querySelector("#execution-records-datatable-mount"));
  </script>
</div>
{% endblock %}
