{% extends 'common/base_main.html' %}

<!-- Head Block -->
{% block scripts %}
{{ super() }}
<script src=" {{ url_for('static',filename='js/react.development-16.11.0.js') }}"></script>
<script src=" {{ url_for('static',filename='js/react-dom.development-16.11.0.js') }}"></script>
<script type="text/javascript" src="static/lib/conp-react/umd/conp-react.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
{% endblock %}

{% block contenttitle %}
<h2><span style="color:red;">CONP</span> Portal</h2>
{% endblock %}


<!-- Content Block -->
{% block appcontent %}

<!-- Display Username Login -->
{% if not current_user.is_anonymous %}
<div class="display-user">
  Welcome <strong>{{ user.username }}</strong>
</div>
{% endif %}
<div class="d-flex flex-column">
  <div class="p-2 flex-fill">
    <div class="card" data-type="dashboard">
      <div class="dashboard-about-container">
        <p>
          This portal is a web interface for the
          <a target="_blank" rel="noopener noreferrer" href="https://conp.ca">
            Canadian Open Neuroscience Platform (CONP)
          </a>
          to facilitate open science in the neuroscience community. CONP simplifies global
          researcher access and sharing of datasets and tools. The portal internalizes the
          cycle of a typical research project: starting with data acquisition, followed by
          processing using already existing/published tools, and ultimately publication of
          the obtained results including a link to the original dataset.
          <a href="{{url_for('main.about')}}">
            Read more
          </a> |
          <a target="_blank", rel="noopener noreferrer" href="{{url_for('main.tutorial')}}">
            Portal tutorial
          </a>
        </p>
        <p>
          Thanks to our
          <a target="_blank", rel="noopener noreferrer" href="https://conp.ca/discover/#Sponsors">
            sponsors
          </a>,
          <a target="_blank", rel="noopener noreferrer" href="https://conp.ca/discover/#PartnersNational">
            national partners
          </a> and
          <a target="_blank", rel="noopener noreferrer" href="https://conp.ca/discover/#PartnersInternational">
            international partners.
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="p-2 flex-fill">
    <div class="card" data-type="dashboard">
      <div id="dashboard-chart-container">

        <script type="text/javascript">
          const dashboardChartElement = React.createElement(CONPReact.DashboardChart, {
            datasetsURL: "{{ url_for('search.dataset_search') }}",
            pipelinesURL: "{{ url_for('pipelines.pipeline_search') }}",
          });
          ReactDOM.render(dashboardChartElement, document.querySelector("#dashboard-chart-container"));
        </script>

      </div>
    </div>
  </div>
  <div class="p-2 flex-fill">
    <div class="card" data-type="dashboard">
      <div id="spotlight-container">

        <script type="text/javascript">
          const spotlightElement = React.createElement(CONPReact.Spotlight, {
            datasetURL: "{{ url_for('search.dataset_search') }}" + "?id=projects/preventad-open",
          });
          ReactDOM.render(spotlightElement, document.querySelector("#spotlight-container"));
        </script>

      </div>
    </div>
  </div>
</div>

{% endblock %}