{% extends 'base.html' %}

<!-- Head Block -->
{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

<!-- Brand Block -->
{% block brand_link %}
<a class="navbar-brand" href="/index">
  <img class="custom-logo-link" src="./static/img/conp.png">
</a>
{% endblock %}

<!-- Login Block -->
<li class="login">
    <a href="/logout">
        <span class="glyphicon glyphicon-log-out"></span> Logout
    </a>
</li>

<!-- Sidebar Block -->
{% block sidebar %}
{% include "/fragments/sidebar.html" %}
{% endblock %}

<!-- Content Block -->
{% block content %}

<!-- Display Username Login -->
<div class="display-user">
Welcome <strong>{{ user.username }}</strong>
</div>

<!-- Title -->
<div style="text-align: center; padding-bottom: 15px;">
    <h2>CONP Public Portal</h2>
</div>

<div class="row">
    <div class="col-sm-8 col-border" style="padding-right:30px;">
        <div id="chart"></div>
        <script type="text/javascript" src="/static/js/charts.js"></script>
        <div class="row" style="padding: 20px; ">
            <h3>CONP Data Statistics</h3>
            <hr class="hr-border">
            <p>The CONP is constructing a resilient network of platforms, where some data
                (when of reasonable size) could be mirrored across Canadian infrastructures.
                We also are working on how to describe pipelines in a standard way and see how metadata of datasets
                can be used to suggest pipelines with standard descriptors. The CONP is proposing a place for scientists
                to search for tools adapted to a specific type of data.</p>
        </div>
        <div class="row" style="padding: 20px; ">
        <div class="col-xs-6">
            <a href="/search" class="a-link"><button class="btn btn-success btn-block btn-lg">Browse Datasets <i class="fa fa-search"></i></button></a>
        </div>
        <div class="col-xs-6">
            <a href="/share" class="a-link"><button class="btn btn-warning btn-block btn-lg">Share a Dataset <i class="fa fa-arrow-circle-up"></i></button></a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row row-border">
        <!--/span-->
        <div>
            <h3>NEWEST DATASET RELEASE</h3>
            <hr class="hr-border">
            <strong>PREVENT-AD Open</strong>
            <br/>
            <p><i>Longitudinal multimodal study of pre-symptomatic Alzheimer Disease.</i> <br> Data used in preparation of this article
                were obtained from the Pre-symptomatic Evaluation of Novel or Experimental Treatments for Alzheimer’s Disease (PREVENT-AD) program.
                (Breitner et al., 2016 & Tremblay-Mercier, Madjar, et al., 2019)</p>
            <p><a class="btn btn-default" href="/dataset?id=0ea345b4-62cf-11e9-b202-52545e9add8e" style="float: right;">Go to Dataset »</a></p>
        </div>
        </div>
        <div class="row row-border" style="margin-top: 20px;">
        <div>
            <h3>STUDY SPOTLIGHT</h3>
            <hr class="hr-border">
            <strong>Multicenter Single Human MRI Phantom</strong>
            <br/>
              <p>Human Brain phantom scans, Multiple MRI scans of a single human phantom over 11 years,
                T1 weighted images and others on 13 scanner in 6 sites accross North America.</p>
            <p><i>McGill Center for Integrative Neuroscience (MCIN)</i></p>
            <p><a class="btn btn-default" href="/dataset?id=8de99b0e-5f94-11e9-9e05-52545e9add8e" style="float: right;">Read More »</a></p>
        </div>
        </div>
        <!--/span-->
    </div>
</div>
<hr>
<!--/row-->
</div>

{% endblock %}
