{% extends 'base_login.html' %}
{% block content %}
    <div class="container">
        <div style="text-align: center;">
            <img src="/static/img/conp-pcno-logo.png" style="height: 150px; padding-top: 20px;">
            <p>Sign in with your CONP account to continue</p>
        </div>
        <div class="card card-container">
            <section class="row">
                <a id="alt-login-orcid" class="btn-alt-login" href="{{ url_for('oauth_authorize', provider='orcid') }}">
                    <img class="orcid-logo" src="/static/img/orcid-logo.png">
                    <span class="label-login">Sign in with ORCID</span>
                </a>
            </section>
            <section class="row">
                <a id="alt-login-inst" class="btn-alt-login" href="#">
                    <img class="osf-alt-logo" src="/static/img/institution-logo.png">
                    <span class="label-login">Sign in through institution</span>
                </a>
             </section>
            <section class="row">
            <hr class="hr-text" data-content="OR"></hr>
            </section>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}