{% extends 'base_public.html' %}

{% block head %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}

<!-- Space reserved for username when logged in -->
<div class="display-user"></div>

<!-- Title -->
<div class="page-title">
    <h2>CONP Public Portal</h2>
</div>

<div class="row">
    <div class="col-sm-8 col-border" style="padding-right:30px;">
        <div id="chart"></div>
        <script type="text/javascript" src="/static/js/charts.js"></script>
        <div class="row" style="padding: 20px; ">
            <h3>CONP Data Statistics</h3>
            <hr class="hr-border">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus feugiat augue,
            sollicitudin malesuada enim tempus a. Morbi ut sem dapibus, blandit mi nec, suscipit nibh.
            Nulla eget scelerisque urna. Praesent pellentesque sagittis tortor a accumsan.
                Morbi sit amet elementum lorem.</p>
        </div>
        <div class="row" style="padding: 20px; ">
        <div class="col-xs-6">
            <a href="/search" class="a-link"><button class="btn btn-success btn-block">Browse Datasets</button></a>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-default btn-block" onclick="myFunction()">Share a Dataset</button>
            <script>
            function myFunction() {
              alert("Registration required to share a dataset!");
            }
            </script>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row row-border">
        <!--/span-->
        <div>
            <h3>NEWEST DATASET RELEASE</h3>
            <hr class="hr-border">
            <strong>Lorem Ipsum</strong>
            <br/>
            <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                facilitate responsive Web design. </p>
            <p><a class="btn btn-default" href="#" style="float: right;">Go to Dataset »</a></p>
        </div>
        </div>
        <div class="row row-border" style="margin-top: 20px;">
        <div>
            <h3>STUDY SPOTLIGHT</h3>
            <hr class="hr-border">
            <strong>Recruiting for Autism Study</strong>
            <br/>
            <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                friendly HTML, CSS and Javascript.</p>
            <p><a class="btn btn-default" href="#" style="float: right;">Read More »</a></p>
        </div>
        </div>
        <!--/span-->
    </div>
</div>
<hr>
<!--/row-->
</div>
{% endblock %}
