{% extends 'base_login.html' %}
{% block content %}
    <div class="container">
        <div style="text-align: center;">
            <img src="/static/img/conp-pcno-logo.png" style="height: 150px;">
            <h3>CONP Account Registration</h3>
        </div>
        <div class="card card-container">
            <form class="form-signin" action="/login" method="POST">
                {{ form.hidden_tag() }}
                <p>{{ form.username.label }}</p>
                <p>{{ form.username(class="form-control", placeholder="Your Username") }}</p>
                <p>{{ form.orcid.label }}</p>
                <p>{{ form.orcid(class="form-control", placeholder="Your ORCID ID") }}</p>
                <p>{{ form.affiliation.label }}</p>
                <p>{{ form.affiliation(class="form-control", placeholder="Your Academic Affiliation") }}</p>
                <p>{{ form.pi() }} {{ form.pi.label }}</p>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email(class="form-control", placeholder="Your Email") }}</p>
                <p>{{ form.password1.label }}</p>
                <p>{{ form.password1(class="form-control", placeholder="Your Password") }}</p>
                <p>{{ form.password2.label }}</p>
                <p>{{ form.password2(class="form-control", placeholder="Repeat Your Password") }}</p>
                <p>{{ form.tos() }}{{ form.tos.label }}</p>
                {{ form.submit(class="btn btn-lg btn-primary btn-block btn-signin") }}
                {% if error %}
                <p class="error"><strong>Error: </strong>{{ error }}</p>
                {% endif %}
                <script src="https://www.google.com/recaptcha/api.js?render=6LcNhZ0UAAAAAAPJXUIxw2UkUTPfEsnhAspNKJ6_"></script>
                 <script>
                  grecaptcha.ready(function() {
                      grecaptcha.execute('6LcNhZ0UAAAAAAPJXUIxw2UkUTPfEsnhAspNKJ6_', {action: 'homepage'}).then(function(token) {
                        // pass the token to the backend script for verification
                      });
                  });
                  </script>
            </form><!-- /form -->
        </div><!-- /card-container -->

    <div class="bottom-link">
    <br/>
        <span><a href="/login">Back to Login</a></span>
        <span style="padding: 10px;"></span>
        <span><a href="/public">Back to CONP Public Portal</a></span>
    <br/>


            <div style="margin-top: 10px;">
            <p>Copyright &copy; 2019 <a style="white-space: nowrap" href="https://conp.ca">Canadian Open Neuroscience Platform</a> &#124; <a style="white-space: nowrap" href="#">Terms of Use</a> &#124; <a style="white-space: nowrap" href="#">Privacy Policy</a></p>
            </div>
</div>

    </div><!-- /container -->
{% endblock %}
