{% extends 'base_login.html' %}

{% block head %}
<script src="/static/js/form.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <div style="text-align: center;">
            <img src="/static/img/conp-pcno-logo.png" style="height: 150px;">
            <h3>CONP Account Registration</h3>
        </div>


            <!--
            <div class="card card-container">
            <form class="form-signin" action="/register_new_user" method="POST">
                {{ form.hidden_tag() }}
                <p>{{ form.username.label }}</p>
                <p>{{ form.username(class="form-control", placeholder="Your Username") }}</p>
                <p>{{ form.orcid.label }}</p>
                <p>{{ form.orcid(class="form-control", placeholder="Your ORCID ID") }}</p>
                <p>{{ form.affiliation.label }}</p>
                <p>{{ form.affiliation(class="form-control", placeholder="Your Academic Affiliation") }}</p>
                <p>{{ form.pi() }} {{ form.pi.label }}</p>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email(class="form-control", placeholder="Your Email") }}</p>
                <p>{{ form.password1.label }}</p>
                <p>{{ form.password1(class="form-control", placeholder="Your Password") }}</p>
                <p>{{ form.password2.label }}</p>
                <p>{{ form.password2(class="form-control", placeholder="Repeat Your Password") }}</p>
                <p>{{ form.tos() }}{{ form.tos.label }}</p>
                {{ form.submit(class="btn btn-lg btn-primary btn-block btn-signin") }}
                {% if error %}
                <p class="error"><strong>Error: </strong>{{ error }}</p>
                {% endif %}
                <script src="https://www.google.com/recaptcha/api.js?render=6LcNhZ0UAAAAAAPJXUIxw2UkUTPfEsnhAspNKJ6_"></script>
                 <script>
                  grecaptcha.ready(function() {
                      grecaptcha.execute('6LcNhZ0UAAAAAAPJXUIxw2UkUTPfEsnhAspNKJ6_', {action: 'homepage'}).then(function(token) {
                        // pass the token to the backend script for verification
                      });
                  });
                  </script>
            </form>
            </div><!-- /card-container -->
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form id="msform" class="form-signin" action="/register_new_user" method="POST">
                        {{ form.hidden_tag() }}
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active"><span style="color: black;">Personal Details</span></li>
                            <li><span style="color: black;">Agreements</span></li>
                            <li><span style="color: black;">Account Setup</span></li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">Personal Details</h2>
                            <hr>
                            <p class="text-left">{{ form.username.label }}</p>
                            <p>{{ form.username(class="form-control", placeholder="Your Username") }}</p>
                            <p class="text-left">{{ form.orcid.label }}</p>
                            <p>{{ form.orcid(class="form-control", placeholder="Your ORCID ID") }}</p>
                            <p class="text-left">{{ form.affiliation.label }}</p>
                            <p>{{ form.affiliation(class="form-control", placeholder="Your Academic Affiliation") }}</p>
                            <p class="text-left">{{ form.pi(style="width:5%") }} {{ form.pi.label }}</p>
                            <p class="text-left">{{ form.email.label }}</p>
                            <p>{{ form.email(class="form-control", placeholder="Your Email") }}</p>
                            <p class="text-left">{{ form.password1.label }}</p>
                            <p>{{ form.password1(class="form-control", placeholder="Your Password") }}</p>
                            <p class="text-left">{{ form.password2.label }}</p>
                            <p>{{ form.password2(class="form-control", placeholder="Repeat Your Password") }}</p>
                            <input type="button" name="next" class="next action-button" value="Continue"/>
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Terms of Use and Service</h2>
                            <hr>
                            <p>By registering the user is agreeing to the following terms of use, service, and conduct</p>
                            <div style="height:420px;width:520px;border:1px solid #ccc;overflow:auto;text-align: left; padding: 10px; margin-bottom: 15px;">
                                <p>CONP Terms and Conditions of Use (for Display and Demonstration Purposes Only)</p>
                                <br>
                                <strong>I.	Acceptance</strong> <br>
                                <p>Acceptance of these terms and conditions govern your use of the CONP portal and the resources found therein.
                                By clicking the box next to “I Agree” you agree to be bound by these terms and conditions</p>
                                <br>
                                <strong>II.	Definitions</strong><br>
                                <p>“Contributor” means the user who shared a Resource through the CONP Portal.
                                “Resource” means anything shared through the CONP portal including, but not limited to, data, software, publications, figures, and ideas shared through forums.
                                “Landing-Page” means the webpage on the CONP portal detailing the Resource and through which the Resource is accessed</p>
                                <br>
                                <strong>III.	Privacy</strong><br>
                                <p>The user agrees (1) to not attempt to re-identify or re-contact individual participants, and (2) not to link individual-level datasets in a way that increases risk of re-identification</p>
                                <br>
                                <strong>IV.	Ethics Oversight</strong><br>
                                <p>The user agrees to obtain any required ethical or regulatory permissions concerning their use of the Resources</p>
                                <br>
                                <strong>V.	Scope of Use</strong><br>
                                <p>The user agrees to respect ethical use restrictions associated with Resources (found on the Resource Landing-Page)</p>
                                <br>
                                <strong>VI.	Confidentiality and Security</strong><br>
                                <p>The user agrees to (1) keep access-restricted Resources confidential and (2) to return or destroy access-restricted Resources if their authorization expires or is terminated</p>
                                <br>
                                <strong>VII.	Monitoring </strong><br>
                                <p>The user agrees (1) to respond promptly to requests from the CONP concerning their use of the CONP Portal and (2) to immediately report to the CONP any activity that breaches these Terms and Conditions of Use</p>
                                <br>
                                <strong>VIII.	Citation</strong> <br>
                                <p>The user agrees to cite any Resource the use of which contributed to a publication in accordance with (1) the CONP Publication Policy, and (2) any applicable Resource specific publication requirements as found on the Resource Landing-Page</p>
                                <br>
                                <strong>IX.	Ownership and Open Licensing</strong><br>
                                <p>The user agrees to respect any licensing terms associated with any Resource found on the Resource Landing-Page</p>
                                <br>
                                <strong>X.	No Restrictive Intellectual Property</strong><br>
                                <p>The user agrees not to attempt to claim intellectual property rights, or any other proprietary right, in Resources accessed through the CONP Portal. Such rights include, but are not limited to, patent rights or copyrights</p>
                                <br>
                                <strong>XI.	Sale of Data</strong><br>
                                <p>The user agrees not to sell data shared through the CONP Portal, or any processed or reorganized derivation thereof, to third parties without the written permission of the original Resource Contributor</p>
                                <br>
                                <strong>XII.	Change Terms of Use</strong><br>
                                <p>The user agrees that the CONP has the right to change or update these Terms and Conditions of Use at any time without prior notice to the user. It is the user’s responsibility to check the CONP website to ascertain whether the Terms and Conditions of Use have been changed or updated</p>
                            </div>
                            <p class="text-left">{{ form.tos(style="width:5%") }} {{ form.tos.label }}</p>
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                            <input type="button" name="next" class="next action-button" value="Continue"/>
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Create your account</h2>
                            <hr>
                            <div style="margin-top: 40px; margin-bottom: 30px;">
                                <i class="far fa-check-circle fa-5x"></i><br>
                            You have completed all the steps!
                            </div>
                            <div style="margin-top: 50px; margin-bottom: 50px;">
                            <input type="submit" name="submit" class="submit action-button" style="width: 35%;background: green;" value="Create My Account"/>
                            </div>
                            <div style="margin-top: 15px; text-align: left;">
                            <p>This account will allow you to access public datasets as well as post on forums in the forums page.</p>

                            <p>To access data that requires additional authentication, please complete the <strong>REQUEST ACCESS</strong> form.</p>

                            <p>This step is optional and can be done later by accessing <strong>MY ACCOUNT</strong> on the left-side navigational toolbar.</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

    <div class="bottom-link" style="margin-top: 6px;">
    <br/>
        <span><a href="/login">Back to Login</a></span>
        <span style="padding: 10px;"></span>
        <span><a href="/public">Back to CONP Public Portal</a></span>
    <br/>


            <div style="margin-top: 10px;">
            <p>Copyright &copy; 2019 <a style="white-space: nowrap" href="https://conp.ca">Canadian Open Neuroscience Platform</a> &#124; <a style="white-space: nowrap" href="#">Terms of Use</a> &#124; <a style="white-space: nowrap" href="#">Privacy Policy</a></p>
            </div>
</div>

    </div><!-- /container -->
{% endblock %}