{% extends 'base_public.html' %}

{% block head %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/table.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

        {% include "/fragments/sidebar.html" %}


        <div class="col-xs-12 col-sm-9">
            <div style="text-align: center;padding-bottom: 25px;">
            <h2>CONP Portal | Dataset Search</h2>
                <hr>
             </div>

        <table id="datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    
                </td>
                <td> <i class="fa fa-folder-open" aria-hidden="true"></i> Some fMRI study</td>
                <td>
                    <button type="button" class="btn btn-default">
                          <i class="fa fa-download" aria-hidden="true"></i>
                      </button>
                </td>

            </tr>
            <tr>
                <td>2</td>
                <td><i class="fa fa-folder-open" aria-hidden="true"></i> Prevent-AD</td>
                <th>
                    <button type="button" class="btn btn-default">
                          <i class="fa fa-download" aria-hidden="true"></i>
                      </button>
                </th>

            </tr>
            </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        </table>
        </div>
        <!--/span-->
    </div>
</div>
{% endblock %}

