{% extends 'base_public.html' %}

{% block head %}

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script type="text/javascript" src="static/lib/conp-react/umd/conp-react.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="search-header">
  <h2>CONP Portal | Dataset Search</h2>
  <hr>
</div>

<div id="search-datatable-mount" >
</div>

<script type="text/javascript">
  const reactElement = React.createElement(CONPReact.DataTableContainer, {
    authorized: true,
    endpointURL: "/dataset-search",
    limit: 10,
    total: 50,
    imagePath: "/static/img",
    renderElement: CONPReact.DatasetElement,
    sortKeys: [
      { key: "title", label: "Title" },
      { key: "downloads", label: "Downloads" },
      { key: "views", label: "Views" },
      { key: "likes", label: "Likes" },
      { key: "dateAdded", label: "Date Added" },
      { key: "dateUpdated", label: "Date Updated" },
      { key: "size", label: "Size" },
      { key: "files", label: "Files" },
      { key: "subjects", label: "Subjects" },
      { key: "format", label: "Format" },
      { key: "modalities", label: "Modalities" },
      { key: "sources", label: "Sources" }
    ],
    // remove this after the backend returns search results:
    elements: [
      {
        id: "0",
        title: "Super cool data number 1",
        isPublic: true,
        thumbnailURL: "/static/img/placeholder.png",
        downloads: 42,
        views: 24,
        likes: 12,
        dateAdded: "10/12/2018",
        dateUpdated: "10/13/2018",
        size: "800mb",
        files: 44,
        subjects: 30,
        format: "BIDS",
        modalities: "fMRI",
        sources: 3
      },
      {
        id: "2",
        title: "Super cool data number 2",
        isPublic: false,
        thumbnailURL: "/static/img/placeholder.png",
        downloads: 42,
        views: 24,
        likes: 12,
        dateAdded: "10/12/2018",
        dateUpdated: "10/13/2018",
        size: "800mb",
        files: 44,
        subjects: 30,
        format: "BIDS",
        modalities: "fMRI",
        sources: 3
      }
    ]
  });

  ReactDOM.render(reactElement, document.querySelector("#search-datatable-mount"));
</script>
</div>
<!--/span-->
{% endblock %}

