<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title }}</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link href="/static/css/styleguide.css" rel="stylesheet" />
    <link href="/static/css/core.css" rel="stylesheet" />
  </head>

  <body>
    <div class="styleguide">
      <div class="styleguide__section styleguide__section__header">
        <h4>Styleguide</h4>
      </div>
      <div class="container styleguide__section">
        <div class="row styleguide__section__header">
          <h5>Palette</h5>
        </div>
        <div class="styleguide__section__body">
          <div class="row justify-content-center">
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-alto"></div>
              <p class="styleguide__palette__text">.bg-alto</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-dusty-grey"></div>
              <p class="styleguide__palette__text">.bg-dusty-grey</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-mineshaft"></div>
              <p class="styleguide__palette__text">.bg-mineshaft</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-pastel-green"></div>
              <p class="styleguide__palette__text">.bg-pastel-green</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-red"></div>
              <p class="styleguide__palette__text">.bg-red</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-sea-buckthorn"></div>
              <p class="styleguide__palette__text">.bg-sea-buckthorn</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-silver"></div>
              <p class="styleguide__palette__text">.bg-silver</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-white"></div>
              <p class="styleguide__palette__text">.bg-white</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container styleguide__section">
        <div class="row styleguide__section__header">
          <h5>Fonts</h5>
        </div>
        <div class="styleguide__section__body row align-items-center">
          <div class="styleguide__section__item text-logo">
            <strong>.text-logo</strong>
            <div>font-family: quicksand</div>
            <div>font-size: 14px</div>
            <div>color: #404040</div>
          </div>
          <div class="styleguide__section__item text-body">
            <strong>.text-body</strong>
            <div>font-family: arial</div>
            <div>font-size: 14px</div>
            <div>color: #343434</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
