<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title }}</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      href="/static/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/static/css/styleguide.css" rel="stylesheet" />
    <link href="/static/css/core.css" rel="stylesheet" />
  </head>

  <body>
    <div class="styleguide">
      <div class="styleguide__section styleguide__section__header">
        <h4><strong>Styleguide</strong></h4>
      </div>
      <div class="container-fluid styleguide__section">
        <div class="row styleguide__section__header">
          Palette
        </div>
        <div class="styleguide__section__body">
          <div class="row justify-content-center">
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-alto"></div>
              <p>.bg-alto [#d8d8d8]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-dusty-grey"></div>
              <p>.bg-dusty-grey [#979797]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-mineshaft"></div>
              <p>.bg-mineshaft [#343434]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-silver"></div>
              <p>.bg-silver [#c2c2c2]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-pastel-green"></div>
              <p>.bg-pastel-green [#88d368]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-red"></div>
              <p>.bg-red [#ff0000]</p>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-sea-buckthorn"></div>
              <p>.bg-sea-buckthorn [#f6a032]</p>
            </div>

            <div class="row col-lg-3 col-md-4 col-sm-6 align-items-center">
              <div class="styleguide__palette__swatch bg-white"></div>
              <p>.bg-white[#ffffff]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid styleguide__section">
        <div class="row styleguide__section__header">
          Fonts
        </div>
        <div class="styleguide__section__body row align-items-center">
          <div class="styleguide__section__body text-logo">
            <strong>.text-logo</strong>
            <div>font-family: quicksand</div>
            <div>font-size: 14px</div>
            <div>color: #404040</div>
          </div>
          <div class="styleguide__section__body text-body">
            <strong>.text-body</strong>
            <div>font-family: arial</div>
            <div>font-size: 14px</div>
            <div>color: #343434</div>
          </div>
        </div>
      </div>
      <div class="container-fluid styleguide__section">
        <div class="row styleguide__section__header">
          Icons
        </div>
        <div class="styleguide__section__body row justify-content-center">
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-arrow-circle-down"></i>
            <div class="styleguide__section__item">.fa-arrow-circle-down</div>
          </div>

          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-arrow-circle-up"></i>
            <div class="styleguide__section__item">.fa-arrow-circle-up</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-bar-chart"></i>
            <div class="styleguide__section__item">.fa-bar-chart</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-chevron-down"></i>
            <div class="styleguide__section__item">.fa-chevron-down</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-comments"></i>
            <div class="styleguide__section__item">.fa-comments</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-download"></i>
            <div class="styleguide__section__item">.fa-download</div>
          </div>

          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-eye"></i>
            <div class="styleguide__section__item">.fa-eye</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-github"></i>
            <div class="styleguide__section__item">.fa-github</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-heart"></i>
            <div class="styleguide__section__item">.fa-heart</div>
          </div>

          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-search"></i>
            <div class="styleguide__section__item">.fa-search</div>
          </div>

          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-upload"></i>
            <div class="styleguide__section__item">.fa-upload</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <i class="fa fa-wrench"></i>
            <div class="styleguide__section__item">.fa-wrench</div>
          </div>
        </div>
      </div>
      <div class="container-fluid styleguide__section">
        <div class="row styleguide__section__header">
          Buttons
        </div>
        <div class="styleguide__section__body row">
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <button type="button" class="btn btn-green">
              Green Button <i class="fa fa-upload"></i>
            </button>
            <div class="styleguide__section__item">.btn-success</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <button type="button" class="btn btn-orange">
              Orange Button <i class="fa fa-upload"></i>
            </button>
            <div class="styleguide__section__item">.btn-orange</div>
          </div>
          <div
            class="styleguide__section__item align-items-center col-md-3 col-sm-6"
          >
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>

            <div class="styleguide__section__item">.btn-outline-secondary</div>
          </div>
        </div>
      </div>
      <div class="container-fluid styleguide__section">
        <div class="row styleguide__section__header">
          Navigation Bar
        </div>
        <div class="styleguide__section__body row">
          <div class="navbar navbar-inverse-red" role="navigation">
            <div class="container">
              <nav
                class="navbar navbar-expand-lg navbar-light navbar-conp bg-white"
              >
                <!-- add "fixed-top" class to nav tag -->
                <a class="navbar-brand" href="#"
                  ><img
                    class="navbar-conp-icon"
                    src="./static/img/conp.png"
                    alt="conp logo"
                /></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse justify-content-end"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav">
                    <li class="nav-item active px-3">
                      <a class="nav-link" href="https://conp.ca/">Home</a>
                    </li>
                    <li class="nav-item px-3">
                      <a class="nav-link" href="https://conp.ca/discover"
                        >Discover</a
                      >
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle px-3"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Experience
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle px-3"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Community
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                      </div>
                    </li>
                    <li class="nav-item px-3">
                      <a class="nav-link" href="/index">Portal</a>
                    </li>
                    <li class="nav-item px-3">
                      <a class="nav-link" href="/index">Login</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
