<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link href="/static/css/styleguide.css" rel="stylesheet" />
    <link href="/static/css/core.css" rel="stylesheet" />
  </head>

  <body>
    <div class="styleguide">
      <div class="styleguide__section styleguide__section__header">
        <h4>Styleguide</h4>
      </div>

      <div class="styleguide__section">
        <div class="styleguide__section__header">
          <h5">Header</h5>
        </div>
        <div class="styleguide__section__body">Body</div>
      </div>
    </div>
  </body>
</html>
