{% extends 'common/base_main.html' %}

{% block head %} {{ super() }}
<title>CONP Portal | Developer Team</title>
{% endblock %}

<!-- Title Block -->

{% block contenttitle %}
    <h2><span style="color:red;">CONP Portal </span> | Developer Team</h2>
{% endblock %}

<!-- Content Block -->

{% block appcontent %}
    <div class="d-flex flex-column p-2">
        <ul class="d-flex flex-wrap list-unstyled justify-content-center">
            <li class="flex-grow p-2">
                <div class="card bg-light p-3"style="height:340px">
                    <img
                        alt="Natacha Beck"
                        class="img-fluid card-img-top"
                        src="/static/img/team_beck_natacha.jpg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Natacha Beck</h6>
                        <p class="card-text" style="max-width:14rem">Research Software Developer</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Bryan Caron"
                        class="img-fluid"
                        src="/static/img/team_caron_bryan.jpeg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Bryan Caron</h6>
                        <p class="card-text" style="max-width:14rem">Director, Operations and Development</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Samir Das"
                        class="img-fluid"
                        src="/static/img/team_das_samir.png"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Samir Das</h6>
                        <p class="card-text" style="max-width:14rem">Associate Director of Technology</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Tristan Glatard"
                        class="img-fluid"
                        src="/static/img/team_glatard_tristan.png"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Tristan Glatard</h6>
                        <p class="card-text" style="max-width:14rem">Assoc. Prof. in Comp. Sci. & Soft. Eng. (Concordia)</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Tristan Kuehn"
                        class="img-fluid"
                        src="/static/img/team_kuehn_tristan.jpg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Tristan Kuehn</h6>
                        <p class="card-text" style="max-width:14rem">Open Science Software Developer</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Xavier Lecours"
                        class="img-fluid"
                        src="/static/img/team_lecours_xavier.jpeg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Xavier Lecours</h6>
                        <p class="card-text" style="max-width:14rem">Research Software Developer</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Mélanie Legault"
                        class="img-fluid"
                        src="/static/img/team_legault_melanie.png"
                        style="width:210px;height:209px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Mélanie Legault</h6>
                        <p class="card-text" style="max-width:14rem">Research Software Developer</p>
                    </div>
                </div>
           </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Cécile Madjar"
                        class="img-fluid"
                        src="/static/img/team_madjar_cecile.png"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Cécile Madjar</h6>
                        <p class="card-text" style="max-width:14rem">Senior Research Software Developer</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Emmet O'Brien"
                        class="img-fluid"
                        src="/static/img/team_o_brien_emmet.jpg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Emmet A. O'Brien</h6>
                        <p class="card-text" style="max-width:14rem">Data Specialist</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Jean-Basptiste Poline"
                        class="img-fluid"
                        src="/static/img/team_poline_jb.png"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Jean-Baptiste Poline</h6>
                        <p class="card-text" style="max-width:14rem">CONP Technical Committee co-chair</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Sebastian Urchs"
                        class="img-fluid"
                        src="/static/img/team_urchs_sebastian.png"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Sebastian Urchs</h6>
                        <p class="card-text" style="max-width:14rem">Scientific Software Developer</p>
                    </div>
                </div>
            </li>
            <li class="flex-grow p-2">
                <div class="card bg-light p-3" style="height:340px">
                    <img
                        alt="Ksenia Zaytseva"
                        class="img-fluid"
                        src="/static/img/team_zaytseva_ksenia.jpeg"
                        style="width:210px"
                    />
                    <div class="card-body">
                        <h6 class="card-title">Ksenia Zaytseva</h6>
                        <p class="card-text" style="max-width:14rem">Software Infrastructure Developer</p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="flex-column p-2 justify-content-center">
            <h6 class="text-center">Past Team Members</h6>
            <ul class="flex align-content-center list-unstyled">
                <li class="text-center">Shawn Brown</li>
                <li class="text-center">Mathieu Dugré</li>
                <li class="text-center">Mandana Mazaheri</li>
                <li class="text-center">Liam O'Callaghan</li>
                <li class="text-center">Santiago Paiva</li>
                <li class="text-center">Joey Zhou</li>
            </ul>
        </div>
    </div>
    {{ content|safe }}
{% endblock %}
