{% extends 'common/base_main.html' %}

<!-- Title Block -->

{% block contenttitle %}
    <h2><span style="color:red;">CONP Portal </span> | Developer Team</h2>
{% endblock %}

<!-- Content Block -->

{% block appcontent %}
    <div class="d-flex flex-column p-2">
        <div class="card-img d-flex justify-content-center">
            <img
                alt="Project image"
                class="img-fluid"
                src="/static/img/developer-team.png"
            />
        </div>

        <div class="flex-column p-2 justify-content-center">
            <h5 class="text-center">Past Collaborators</h5>
            <ul class="flex align-content-center list-unstyled">
                <li class="text-center">Shawn Brown, PhD</li>
                <li class="text-center">Liam O'Callaghan</li>
                <li class="text-center">Santiago Paiva</li>
            </ul>
        </div>
    </div>
    {{ content|safe }}
{% endblock %}